<nav id="aboutusmenu" class="navbar navbar-default">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
      <ul id="about" class="nav">
       <li class="us-link"><a href="http://www.bild-studio.com/o-nama-digitalna-kreativna-agencija"><img src="{{aboutus[0].icon}}">{{aboutus[0].title}} </a> </li>
       <li class="product-link"><a href="http://www.bild-studio.com/usluge/dizajn-stampa-i-korisnicko-iskustvo"><img src="{{aboutus[1].icon}}">{{aboutus[1].title}} </a> </li>
       <li class="projects-link"><a href="http://www.bild-studio.com/projekti"><img src="{{aboutus[2].icon}}">{{aboutus[2].title}} </a> </li>
       <li class="contact-link"><a href="http://www.bild-studio.com/kontaktirajte-nas"><img src="{{aboutus[3].icon}}">{{aboutus[3].title}} </a> </li>
       <li class="bracket-icon"><a href=""> <img src="{{aboutus[4].icon}}"> </a></li>
       <li class="bild-icon"><a id="last" href="http://www.bild-studio.com/">www.bild-studio.com </a></li>  
     </ul>
   </div>
 </div>
</div>
</nav>