<nav class="navbar navbar-default">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12"> 
    <ul id="about" class="nav">
     <li><a href=""><img src="{{aboutus[0].icon}}">{{aboutus[0].title}} </a> </li>
     <li><a href=""><img src="{{aboutus[1].icon}}">{{aboutus[1].title}} </a> </li>
     <li><a href=""><img src="{{aboutus[2].icon}}">{{aboutus[2].title}} </a> </li>
     <li><a href=""><img src="{{aboutus[3].icon}}">{{aboutus[3].title}} </a> </li>
     <li><a href=""><img src="{{aboutus[4].icon}}"> </a></li>
     <li><a id="last" href="">www.bild-studio.com </a></li>  
    </ul>
     </div>
   </div>
  </div>
</nav>