<div class="main-content">
  <div class="wrapper">
    <div class="clients">
      <h4 class="line"><span>Klijenti i partneri</span></h4>
      <div class="clients-row line">
        <div class="client-logo"><a href="#"><img src="" alt=""></a> </div>
        <div class="client-logo"><a href="#"><img src="assets/img/clients/2.png" alt=""></a></div>
        <div class="client-logo"><a href="#"><a href="#"><img src="assets/img/clients/3.png" alt=""></a></div>
      </div>
      <div class="clients-row">
        <div class="client-logo"><a href="#"><img src="assets/img/clients/4.png" alt=""></a></div>
        <div class="client-logo"><a href="#"><img src="assets/img/clients/5.png" alt=""></a></div>
        <div class="client-logo"><a href="#"><img src="assets/img/clients/6.png" alt=""></a></div>
      </div>
      <div class="other-link"> <a href="#">pogledaj sve klijente &gt;</a> </div>
    </div>
    {{clients}}
    {{whattheysay }}
    <hr class="hr-client">
    <h4>Šta kažu naši klijenti</h4>
    <div class="testimonials">
      <div id="testimonials-carusel">
        <div><div class="testimonials-block">
        <div class="test-img"><img src="assets/img/testimonials/1.jpg" alt=""></div>
        <div class="test-desc">
          <p>"U agenciji Bild Studio pronašli smo ozbiljnog partnera sa kojim je zadovoljstvo raditi. Vjerujemo da ce naša saradnja biti jos razuđenija, te ih preporučujemo kao pouzdanog i temeljnog..."</p>
          <div class="author">Lav Lajovic, Direktor, Pobjeda AD</div>
        </div>
      </div>
      <div class="testimonials-block">
        <div class="test-img"><img src="assets/img/testimonials/1.jpg" alt=""></div>
        <div class="test-desc">
          <p>"U agenciji Bild Studio pronašli smo ozbiljnog partnera sa kojim je zadovoljstvo raditi. Vjerujemo da ce naša saradnja biti jos razuđenija, te ih preporučujemo kao pouzdanog i temeljnog..."</p>
          <div class="author">Dejan Milić, Izvršni direktor, Simes inženjering</div>
        </div>
      </div>
      <div class="testimonials-block">
        <div class="test-img"><img src="assets/img/testimonials/1.jpg" alt=""></div>
        <div class="test-desc">
          <p>"U agenciji Bild Studio pronašli smo ozbiljnog partnera sa kojim je zadovoljstvo raditi. Vjerujemo da ce naša saradnja biti jos razuđenija, te ih preporučujemo kao pouzdanog i temeljnog..."</p>
          <div class="author">Boris Darmanović, Direktor, Dnevne novine</div>
        </div>
      </div> </div>
     
     
          
          </div>
      </div>
    </div>
    <div class="other-link"> <a href="#">pogledaj sve izjave &gt;</a> </div>
  </div>
</div>