<div id="order_inner">
<div id="select_panel">
<section class="template_web">
    <div class="container">
      <div class="row">  
        <div class="col_1 col-xs-3">
          <h2>TEMPLATE WEBSITE</h2>
          <p>Naručite web sajt tako što ćete odabrati paket koji vam odgovara</p>
        </div>
        <div class="padding-left-8 col-xs-9">

          <div class="pack bgc_white no-padding col-xs-3">
            <div class="overflow">
              <p class="back col_gray">1</p>
              <div class="absolute">
                <div class="package_description">
                  <h4>PRESENTATION PACKAGE</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                </div>
                <div class="price col_lightblue">
                  <p>1000€</p>
                </div>
              </div>
            </div>
          </div>

          <div class="pack bgc_blue no-padding col-xs-3">
            <div class="overflow">
              <p class="back col_lightblue">2</p>
              <div class="absolute">
                <div class="package_description">
                  <h4>PORTFOLIO WEBSITE</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                </div>
                <div class="price col_blue">
                  <p>1500€</p>
                </div>
              </div>
            </div>
          </div>

          <div class="pack bgc_darkblue no-padding col-xs-3">
            <div class="overflow">
              <p class="back col_templateblue">3</p>
              <div class="absolute">
                <div class="package_description">
                  <h4>IMPROVE YOUR BUSSINES</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                </div>
                <div class="price col_darkblue">
                  <p>2000€</p>
                </div>
              </div>
            </div>
          </div>

          <div class="pack bgc_orange no-padding col-xs-3">
            <div class="overflow">
              <p class="back col_templateorange">4</p>
              <div class="absolute">
                <div class="package_description">
                  <h4>TRASH BOAT SPINE CONE</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                </div>
                <div class="price col_orange">
                  <p>49000€</p>
                </div>
              </div>
              <div class="recommended bgc_darkblue">
                <p class="no-margin"><i class="fa fa-check"></i> recommended</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <section id="table">
    <div class="container">
      <table id="myTable" class="table">
        <col />
        <col />
        <col />
        <col />
        <tr>
          <td class="col-xs-3">Sistem za ažuriranje sadržaja</td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Pravo na promjenu logotipa</td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Uputstvo za ažutriranje</td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Vijesti</td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Kontakt forma</td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Hosting *</td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Fotogalerija</td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Prilagođavanje šablona logotipu</td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Pretraga</td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Promena rasporeda elemenata</td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">Domen *</td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3">SEO optimizacija</td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-times-circle col_lightgray"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
          <td><i class="fa fa-check-circle col_blue"></i></td>
        </tr>
        <tr>
          <td class="col-xs-3"></td>
          <td>
            <a class="btn btn-orange-o" href="#" data-toggle="modal" data-target="#myModal">choose</a>
          </td>
          <td>
            <a class="btn btn-orange-o" href="#" data-toggle="modal" data-target="#myModal">choose</a>
          </td>
          <td>
            <a class="btn btn-orange-o" href="#" data-toggle="modal" data-target="#myModal">choose</a>
          </td>
          <td>
            <a class="btn btn-orange-o" href="#" data-toggle="modal" data-target="#myModal">choose</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body no-padding">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
            <div class="icon">
              <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="modal-main">
              <h4 class="col_lightblue">Pokrenuli ste proceduru za poručivanje.</h4>
              <p>*klikom na "Naruči odmah" bićete preusmereni na sistem za poručivanje.</p>
              <a class="btn btn-orange" href="#">Naruči odmah</a>
              <a class="btn btn-orange-o" href="#">Nastavi kupovinu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>