<div id="dedicated-one-wrap">
  <div class="container-fluid page-header1">
  	<div class="container">
	  <div class="row page-header">
       <div class="col-md-8 col-sm-9 col-lg-8 col-xs-9">
        <div class="present">
          <h1> Dedicated team prices </h1>
          <p>
            Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
          </p>
        </div>
       </div>
       <div class="col-md-1 col-sm-0 col-lg-2 col-xs-0"> <!-- empty div --> </div>
       <div class="col-md-3 col-sm-3 col-lg-2 col-xs-3 header-official"> 
        <img src="../outsource/src/assets/img/order/official-icon1.png" alt="">
        <br>
        <br>
        <p> See our team </p>
       </div>
      </div>
    </div>
  </div>
  <div class="container-fluid page-inner1">
  	<div class="container">
  	  <div class="row table-heading">
  	  	<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 padding-left">
          <h1> Our price </h1>
         </div>
         <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 padding-top">
          <p> 
            Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
          </p>
          <h3> Note: </h3>
          <p> -  Long term contract hourly rate - Angažovanje tima ili izrada projekta duže od tri mjeseca <br>
              -  Short term contract hourly rate - Angažovanje tima ili izrada projekta manje od tri mjeseca
          </p>
         </div>
  	  </div>
  	  <div class="row price-form">	
  	  	<form method="" name="price-table" action="#" id="price-table">
		  <div class="row designers">
	        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 padding-left block-header">
	          <h3> User experience &amp; design team </h3>
	          <p> Svojim kvalitetnim radom smo zavrijedili povjerenje preko 200 
	            naših klijenata, o čemu najbolje  svjedoči svaki od 1000 
	            projekata na kojima smo vrijedno radili prethodnih 10 godina.
	          </p>
	          <img src="../outsource/src/assets/img/package/man.png" alt="">
	        </div>
	        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 block-table">
	          <div class="choose-term">
	            <div> 
	             <p> Long term contract hourly rate </p>
	            </div>
	            <div> 
	             <p> Short term contract hourly rate </p>
	            </div> 
	          </div>
	          <div class="table-header">
	            <div class="pos">
	              <h4> Position </h4>
	              <p> Name of position </p>
	            </div>
	            <div class="junior">
	              <h4> Junior &#8364; / h </h4>
	              <p> 4-6 years of experience </p>
	            </div>
	            <div class="senior">
	              <h4> Senior &#8364; / h </h4>
	              <p> 7+ years of experience </p>
	            </div>
	          </div>
	          <div class="horizontal-line1"> <!--empty element --> </div>
	          <div class="table">
	            <ul>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Graphic designer" /> Graphic designer </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Mobile developer" /> Mobile &amp; web developer </span> 
	              </li> 
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="3D Artist" /> 3D Artist </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Multimedia designer" /> Multimedia designer </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="UX Designer" /> UX Designer </span> 
	              </li>
	            </ul>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="junior-price"> <p> 12&#8364; </p> </div>
	            <div class="junior-price"> <p> 14&#8364; </p> </div>
	            <div class="junior-price"> <p> 14&#8364; </p> </div>
	            <div class="junior-price"> <p> 12&#8364; </p> </div>
	            <div class="junior-price"> <p> 16&#8364; </p> </div>
	            <div class="price-senior"> <p> 15&#8364; </p> </div>
	            <div class="price-senior"> <p> 17&#8364; </p> </div>
	            <div class="price-senior"> <p> 17&#8364; </p> </div>
	            <div class="price-senior"> <p> 15&#8364; </p> </div>
	            <div class="price-senior"> <p> 20&#8364; </p> </div>
	          </div>
	        </div>
	      </div>
	  	  <div class="row programmers">
	        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 padding-left block-header">
	          <h3> Tehnology team </h3>
	          <p> Svojim kvalitetnim radom smo zavrijedili povjerenje preko 200 
	            naših klijenata, o čemu najbolje  svjedoči svaki od 1000 
	            projekata na kojima smo vrijedno radili prethodnih 10 godina.
	          </p>
	          <img src="../outsource/src/assets/img/package/man2.png" alt="">
	        </div>
	        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 block-table">
	          <div class="choose-term">
	            <div> 
	             <p> Long term contract hourly rate </p>
	            </div>
	            <div> 
	             <p> Short term contract hourly rate </p>
	            </div> 
	          </div>
	          <div class="table-header">
	            <div class="pos">
	              <h4> Position </h4>
	              <p> Name of position </p>
	            </div>
	            <div class="junior">
	              <h4> Junior &#8364; / h </h4>
	              <p> 4-6 years of experience </p>
	            </div>
	            <div class="senior">
	              <h4> Senior &#8364; / h </h4>
	              <p> 7+ years of experience </p>
	            </div>
	          </div>
	          <div class="horizontal-line1"> <!--empty element --> </div>
	          <div class="table">
	          	<ul>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Web developer" /> Web developer </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Mobile developer" /> Mobile developer </span> 
	              </li> 
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Front end developer" /> Front end developer </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Multimedia designer" /> Server administrator </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="UX Designer" /> Load developer </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="QA tester" /> QA tester </span> 
	              </li>
	            </ul>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="junior-price"> <p> 12&#8364; </p> </div>
	            <div class="junior-price"> <p> 14&#8364; </p> </div>
	            <div class="junior-price"> <p> 14&#8364; </p> </div>
	            <div class="junior-price"> <p> 12&#8364; </p> </div>
	            <div class="junior-price"> <p> 16&#8364; </p> </div>
	            <div class="junior-price"> <p> 16&#8364; </p> </div>
	            <div class="price-senior"> <p> 15&#8364; </p> </div>
	            <div class="price-senior"> <p> 17&#8364; </p> </div>
	            <div class="price-senior"> <p> 17&#8364; </p> </div>
	            <div class="price-senior"> <p> 15&#8364; </p> </div>
	            <div class="price-senior"> <p> 20&#8364; </p> </div>
	            <div class="price-senior"> <p> 20&#8364; </p> </div>
	          </div>
	        </div>
	      </div>
	  	  <div class="row menagers">
	        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 padding-left block-header">
	          <h3> Menagers &amp; marketing team </h3>
	          <p> Svojim kvalitetnim radom smo zavrijedili povjerenje preko 200 
	            naših klijenata, o čemu najbolje  svjedoči svaki od 1000 
	            projekata na kojima smo vrijedno radili prethodnih 10 godina.
	          </p>
	          <img src="../outsource/src/assets/img/package/man32.png" alt="">
	        </div>
	        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 block-table">
	          <div class="choose-term">
	            <div> 
	             <p> Long term contract hourly rate </p>
	            </div>
	            <div> 
	             <p> Short term contract hourly rate </p>
	            </div> 
	          </div>
	          <div class="table-header">
	            <div class="pos">
	              <h4> Position </h4>
	              <p> Name of position </p>
	            </div>
	            <div class="junior">
	              <h4> Junior &#8364; / h </h4>
	              <p> 4-6 years of experience </p>
	            </div>
	            <div class="senior">
	              <h4> Senior &#8364; / h </h4>
	              <p> 7+ years of experience </p>
	            </div>
	          </div>
	          <div class="horizontal-line1"> <!--empty element --> </div>
	          <div class="table">
	          	<ul>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Web developer" /> Project menager / consultant </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Mobile developer" /> Marketing menager / consultant </span> 
	              </li> 
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Front end developer" /> Digital marketing menager / consultant </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Multimedia designer" /> SEO expert / consultant </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="UX Designer" /> IT menager / consultant </span> 
	              </li>
	              <li> 
	              	<span class="check-text"> <input type="checkbox" name="pick-team" value="QA tester" /> Brend menager / consultant </span> 
	              </li>
	            </ul>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="horizontal-line"> <!--empty element --> </div>
	            <div class="junior-price"> <p> 12&#8364; </p> </div>
	            <div class="junior-price"> <p> 14&#8364; </p> </div>
	            <div class="junior-price"> <p> 14&#8364; </p> </div>
	            <div class="junior-price"> <p> 12&#8364; </p> </div>
	            <div class="junior-price"> <p> 16&#8364; </p> </div>
	            <div class="junior-price"> <p> 16&#8364; </p> </div>
	            <div class="price-senior"> <p> 15&#8364; </p> </div>
	            <div class="price-senior"> <p> 17&#8364; </p> </div>
	            <div class="price-senior"> <p> 17&#8364; </p> </div>
	            <div class="price-senior"> <p> 15&#8364; </p> </div>
	            <div class="price-senior"> <p> 20&#8364; </p> </div>
	            <div class="price-senior"> <p> 20&#8364; </p> </div>
	          </div>
	        </div>
	      </div>
	  	  <div class="row">
		    <button type="submit" form="price-table" class="order-select"> Next step </button>
	  	  </div>
	  	</form>
	  </div> <!-- end of price-form --> 
	</div>
  </div><!-- end of page-inner1 -->
</div>