<div id="dedicated-two-wrap">
  <div class="container-fluid">
  	<div class="container">
  	  <div class="row chosen-team">
  	  	<div class="row team-header">
 		     <div class="name-header col-md-3 col-sm-3 col-lg-3 col-xs-3">
          <h3> YOUR CHOSEN TEAM </h3>
         </div>
         <div class="price-header col-md-2 col-sm-2 col-lg-2 col-xs-2">
          <h3> Price (h/&#8364;) </h3>
         </div>
         <div class="period-header col-md-2 col-sm-2 col-lg-2 col-xs-2">
          <h3> Period of engagement (days) </h3>
         </div>
         <div class="member-header col-md-2 col-sm-2 col-lg-2 col-xs-2">
          <h3> Number of team members </h3>
         </div>
         <div class="total-header col-md-2 col-sm-2 col-lg-2 col-xs-2">
          <h3> TOTAL </h3>
         </div>
         <div class="delete-header col-md-1 col-sm-1 col-lg-1 col-xs-1">
          <h3> Ukloni </h3>
         </div>
  	  	</div><!-- end of table header -->
  	  	<form method="" name="price-team" action="#" id="price-team">
  	  	  <div class="row team-table">
  	  		 <div class="row team-choice">
  	  			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-name">
  	  			  <h3> SENIOR </h3>
  	  			  <p> Graphic designers </p>
  	  			</div>
  	  			<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-price">
  	  			  <p> 12.00 &#8364; </p>
  	  			</div>
  	  		  	<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-days">
  	  		  		<div class="minus"><a href="#">-</a></div>
  	  		  		<input type="number" id="days" name="days" value="99" min="1" max="100">
  	  		  		<div class="plus"><a href="#">+</a></div>
  	  		  		<br>
  	  		  		<p> <a href="#">sačuvaj</a> </p>
  	  		  	</div>
  	  		  	<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-number">
  	  		  		<input type="range" id="number" name="number" value="5" min="1" max="10">
  	  		  		<output name="show-nubmer" for="number">5</output>
  	  		  	</div>
  	  		  	<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-total">
  	  			  <p> 120.00 &#8364; </p>
  	  			</div>
  	  			<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-delete">
  	  			  <img src="../outsource/src/assets/img/package/x.png" alt="" class="team-day">
  	  			</div>
  	  		</div>
  	  		<div class="row team-choice">
  	  			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-name">
  	  			  <h3> SENIOR </h3>
  	  			  <p> Senior web developer </p>
  	  			</div>
  	  			<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-price">
  	  			  <p> 12.00 &#8364; </p>
  	  			</div>
  	  		  	<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-days">
  	  		  		<div class="minus"><a href="#">-</a></div>
  	  		  		<input type="number" id="days" name="days" value="99" min="1" max="100">
  	  		  		<div class="plus"><a href="#">+</a></div>
  	  		  		<br>
  	  		  		<p> <a href="#">sačuvaj</a> </p>
  	  		  	</div>
  	  		  	<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-number">
  	  		  		<input type="range" id="number" name="number" value="5" min="1" max="10">
  	  		  		<output name="show-nubmer" for="number">5</output>
  	  		  	</div>
  	  		  	<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-total">
  	  			  <p> 120.00 &#8364; </p>
  	  			</div>
  	  			<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-delete">
  	  			  <img src="../outsource/src/assets/img/package/x.png" alt="" class="team-day">
  	  			</div>
  	  		</div>
  	  		<div class="horizontal-line1"> <!--empty element --> </div>
  	  		<div class="row team-choice">
  	  			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-name">
  	  			  <h3> SENIOR DEDICATED</h3>
  	  			  <p> Project menager </p>
  	  			</div>
  	  			<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-price">
  	  			  <p> 20.00 &#8364; </p>
  	  			</div>
  	  		  	<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-day">
  	  		  		<p> 1h </p>
  	  		  	</div>
  	  		  	<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-number">
  	  		  		<p> (1 team member) </p>
  	  		  	</div>
  	  		  	<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-total">
  	  			  <p> 20.00 &#8364; </p>
  	  			</div>
  	  			<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-delete">
  	  			  <img src="" alt="">
  	  			</div>
  	  		</div>
  	  		<div class="row team-choice">
  	  			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-name">
  	  			  <h3> SENIOR DEDICATED</h3>
  	  			  <p> Quality assurance professional </p>
  	  			</div>
  	  			<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-price">
  	  			  <p> 20.00 &#8364; </p>
  	  			</div>
  	  		  	<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 team-day">
  	  		  		<p> 1.5h </p>
  	  		  	</div>
  	  		  	<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 team-number">
  	  		  		<p> (1 team member) </p>
  	  		  	</div>
  	  		  	<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-total">
  	  			  <p> 30.00 &#8364; </p>
  	  			</div>
  	  			<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 team-delete">
  	  			  <img src="" alt="">
  	  			</div>
  	  		</div>
  	  	  </div> 	  	  
  	  	  <div class="row total">
  	  	  	<div class="total-sum">
  	  	  		<p> UKUPNO: 1347.5 &#8364; </p> 
  	  	  	</div>
  	  	  </div> 	  
	  	  <div class="row submit-btn">
		    <button type="submit" form="price-table" class="order-select"> Next step </button>
	  	  </div>
  	    </form>
  	  </div><!-- end of chosen team-->
  	</div>
  </div>
</div>
