<div id="project_panel">
  <section id="order_panel">
    <div class="container">
      <div class="row">

        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Podaci o porudžbini</h3>
            </div>
            <div class="panel-body">

              <div class="option">
                <div class="option_title">
                  <div class="circle"><p>1</p></div>
                  <h4>odabrani paket</h4>
                </div>
                <div class="clearfix"></div>
                <h4>Template web site</h4>
                <p>Paket je pogodan za start up biznise kojima je vizuelni identitet potreban za kratko vreme i ograničen budžet</p>
              </div>

              <div class="option">
                <div class="option_title">
                  <div class="circle"><p>2</p></div>
                  <h4>odabrana opcija u paketu</h4>
                </div>
                <div class="clearfix"></div>
                <h4>Presentation package</h4>
                <p>Paket je pogodan za start up biznise kojima je vizuelni identitet potreban za kratko vreme i ograničen budžet</p>
                <h4 class="price">Price: <span class="pull-right">1000e</span></h4>
              </div>

              <div class="option">
                <div class="option_title">
                  <div class="circle"><p>3</p></div>
                  <h4>izabrane dodatne usluge</h4>
                </div>
                <div class="clearfix"></div>
                <h4>Tehnologies services</h4>
                <table class="table table-condensed">
                  <tr>
                    <td>Responsive tema</td>
                    <td>1 kom</td>
                    <td>1000€</td>
                  </tr>
                  <tr>
                    <td>Hosting</td>
                    <td>1 kom</td>
                    <td>400€</td>
                  </tr>
                </table>
                <h4>Design services</h4>
                <table class="table table-condensed">
                  <tr>
                    <td>Logo</td>
                    <td>1 kom</td>
                    <td>500€</td>
                  </tr>
                  <tr>
                    <td>Vizit kartice</td>
                    <td>1 kom</td>
                    <td>400€</td>
                  </tr>
                </table>
              </div>

              <div class="option">
                <h3 class="total">TOTAL: <span class="pull-right">1764€</span></h3>
              </div>

            </div>
          </div>
          <p class="col_darkblue pull-right">*u cijenu je uračunat PDV</p>
        </div>

        <div class="col-xs-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Unesite projektne, kontakt informacije i način plaćanja</h3>
            </div>
            <div class="panel-body">
              <form>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="usr">Ime i prezime</label>
                    <input type="text" class="form-control" id="usr" placeholder="Unesite Vase ime i prezime">
                  </div>

                  <div class="form-group">
                    <label for="usr">Ime i prezime</label>
                    <input type="text" class="form-control" id="usr" placeholder="Unesite Vase ime i prezime">
                  </div>

                  <div class="form-group">
                    <label for="sel1">Vremenski rokovi</label>
                    <select class="form-control" id="sel1" placeholder="Odaberi">
                      <option>odaberi 1</option>
                      <option>odaberi 2</option>
                      <option>odaberi 3</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="usr">Ime i prezime</label>
                    <input type="text" class="form-control" id="usr" placeholder="Unesite Vase ime i prezime">
                  </div>

                  <div class="form-group">
                    <label for="usr">Ime i prezime</label>
                    <input type="text" class="form-control" id="usr" placeholder="Unesite Vase ime i prezime">
                  </div>

                  <div class="form-group">
                    <label for="sel1">Vremenski rokovi</label>
                    <select class="form-control" id="sel1" placeholder="Odaberi">
                      <option>odaberi 1</option>
                      <option>odaberi 2</option>
                      <option>odaberi 3</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="form-group no-margin">
                    <label for="other_services">Opis projekta</label>
                    <textarea class="form-control" rows="5" id="ohter_services" placeholder="Lorem ipsum dolor sit amet..."></textarea>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Želim da primam zadnje novosti i akcije
                    </label>
                  </div>
                  <button type="submit" class="btn btn-green col-xs-10 col-xs-offset-1">POTVRDI I POŠALJI REZERVACIJU</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>