<div id="order_now">
  <section id="bubble_tabs">
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
         <div class="tab">
            <div class="description">
              <h3>Choose your right package</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation</p>
            </div>
            <div class="tab_number">
              <p>1</p>
              <a ui-sref="step-one" role="tab" data-toggle="tab">
                <span class="link_spanner"></span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
        <li role="presentation">
          <div class="tab">
            <div class="description">
              <h3>Choose your right package</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation</p>
            </div>
            <div class="tab_number">
              <p>2</p>
              <a ui-sref="step-two" role="tab" data-toggle="tab">
                <span class="link_spanner"></span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
        <li role="presentation">
          <div class="tab">
            <div class="description">
              <h3>Choose your right package</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation</p>
            </div>
            <div class="tab_number">
              <p>3</p>
              <a href="#choose_add" role="tab" data-toggle="tab">
                <span class="link_spanner"></span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
        <li role="presentation">
          <div class="tab">
            <div class="description">
              <h3>Choose your right package</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation</p>
            </div>
            <div class="tab_number">
              <p>4</p>
              <a href="#project_and_contact" role="tab" data-toggle="tab">
                <span class="link_spanner"></span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
        <div class="clearfix"></div>
      </ul>
    </div>
  </section>
</div>