
<section>
  <div class="container-fluid dedicated">
   <div class="container">

    <div class="container-fluid"> 
<div class="row">
<div class="packages-offer ">
  <div class="wrapper dedicated-packages">
    <div class="packages">
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[0].img}}" alt="dizajn">
          <h2>{{packages[0].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[0].body_title}}</h5>
          <p>{{packages[0].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[0].price}}€</div>
        </div>
        <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a> </div>
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[1].img}}" alt="dizajn">
          <h2>{{packages[1].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[1].body_title}}</h5>
          <p>{{packages[1].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[1].price}}€</div>
        </div>
        <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a> </div>
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[2].img}}" alt="dizajn">
          <h2> {{packages[2].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[2].body_title}}</h5>
          <p>{{packages[2].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[2].price}}€</div>
        </div>
        <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a>
      </div>
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[3].img}}" alt="dizajn">
          <h2>{{packages[3].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[3].body_title}}</h5>
          <p>{{packages[3].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[1].price}}€</div>
        </div>
         <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a>
      </div>
    </div> 
<div>
<div>
</div
</div>
</section>

<section id="packages2">
  <div class="container-fluid dedicated">
   <div class="container">

    <div class="container-fluid"> 
<div class="row">
<div class="packages-offer ">
  <div class="wrapper dedicated-packages">
    <div class="packages">
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[0].img}}" alt="dizajn">
          <h2>{{packages[0].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[0].body_title}}</h5>
          <p>{{packages[0].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[0].price}}€</div>
        </div>
        <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a> </div>
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[1].img}}" alt="dizajn">
          <h2>{{packages[1].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[1].body_title}}</h5>
          <p>{{packages[1].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[1].price}}€</div>
        </div>
        <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a> </div>
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[2].img}}" alt="dizajn">
          <h2> {{packages[2].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[2].body_title}}</h5>
          <p>{{packages[2].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[2].price}}€</div>
        </div>
        <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a>
      </div>
      <div class="offer-block">
        <div class="offer-title"> <img src="{{packages[3].img}}" alt="dizajn">
          <h2>{{packages[3].title}}</h2>
        </div>
        <div class="offer-desc">
          <h5>{{packages[3].body_title}}</h5>
          <p>{{packages[3].body_text}} </p>
          <hr>
          <div class="start-from">starting from</div>
          <div class="price">{{packages[1].price}}€</div>
        </div>
         <a href="#" class="offer-hover"> <img src="src/assets/img/choose.png" alt=""> </a>
      </div>
    </div> 
<div>
<div>
</div
</div>
</section>
