<div id="choose_add_panel">
	<section id="add_form">
		<div class="container">
			<div class="title">

			<div id="choose_form">
				
				<ul class="nav nav-tabs" role="tablist">
					<li class="no-padding col-xs-4 active" role="presentation">
						<a href="#tehnology" role="tab" data-toggle="tab">Tehnology services</a>
					</li>
					<li class="no-padding col-xs-4" role="presentation">
						<a href="#desing" role="tab" data-toggle="tab">Design & UX services</a>
					</li>
					<li class="no-padding col-xs-4" role="presentation">
						<a href="#marketing" role="tab" data-toggle="tab">Marketing & SEO services </a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="tehnology">
						<div class="check_list">
							<div class="col-xs-6">
								<div class="checkbox">
									 <p>35e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left"> Mobilna aplikacija </span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>200e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Responsive tema</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									 <p>30e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Tema za mobilne uredjaja</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>200e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Hosting</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>100e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Mail server</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>100e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Odrzavanje servera</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								
							</div>
							<div class="col-xs-6 second-col-6">
								<div class="checkbox">
									<p>100e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Odrzavanje softvera CMS-a</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>100e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Phone, mail & skype tehnicka podrska</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>100e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Blog / Forum wiki sistem</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>100e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Newsletter coding</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
								<div class="checkbox">
									<p>100e</p>
									<label>
										<input class="input_class_checkbox" type="checkbox"> 
										<span class="pad-left">Odrzavanje servera</span>
									</label>
									<div class="h-line"> <!-- empty tag --> </div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form">
							<div class="col-xs-7">
								<form role="form">
									<div class="form-group">
										<label for="other_services">Other services (services that are not offred in the list)</label>
										<textarea class="form-control" rows="5" id="ohter_services"></textarea>
										<btn class="btn no-border-radius btn-orange-o" type="submit">Submit service</btn>
										<btn class="btn no-border-radius btn-orange-o">add more</btn>
									</div>
								</form>
							</div>
							<div class="clearfix"></div>
						</div>    
					</div>
					<div role="tabpanel" class="tab-pane" id="design">
					</div>
					<div role="tabpanel" class="tab-pane" id="marketing">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			<a href="#project_and_contact" class="btn next_step no-border-radius btn-orange">Next step <i class="fa fa-angle-right fa-2x"></i></a>

		</div>
	</section>
</div>