<!-- footer  -->
<nav class="nav-color navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="container">
     <div class="row">
      <br>
      <br>
        <div class="col-lg-12 col-md-12">
          <div class="col-lg-4 col-md-4">
            <h4 class="navbar-text"> Saznajte vise o nama </h4>
          </div>
          <div class="col-lg-4 col-md-4">
            <h4 class="navbar-text"> Zadnje sa bloga </h4>
          </div>
          <div class="col-lg-4 col-md-4">
            <h4 class="navbar-text"> Kontaktirajte nas</h4>
          </div>          
        </div>
      </div>
    </div>
  </div>
</nav>