<!-- footer  -->
<nav class="navbar navbar-default">
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="more_about_us col-xs-4">
        <div class="bottom20">
          <i class="fa fa-square-o"></i>
          <a href="#">
            <h5>Saznajte više o nama</h5>
          </a>
        </div>
        <p>Mi smo digitalna kreativna agencija koju čine talentovani i iskusni stratezi, menadžeri, dizajneri i programeri koji su intenzivno radoznali i strastveni za strategiju, dizajn i tehnologiju. Većina nas svira, a svi volimo život i ljude. :)</p>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-4 blog-info">
        <div class="bottom20">
          <i class="fa fa-comment"></i>
          <a href="#">
            <h5>Zadnje sa bloga</h5>
          </a>
        </div>
        <ul>
          <li>
            <i class="fa fa-angle-right"></i> <a href="#">Šta smo sve uspjeli da završimo u 2013</a>
          </li>
          <li>
            <i class="fa fa-angle-right"></i> <a href="#">Šta je SEO optimizacija i čemu zapravo služi</a>
          </li>
          <li>
            <i class="fa fa-angle-right"></i> <a href="#">Gostovanje naše agencije u privrednoj komori</a>
          </li>
        </ul>
      </div>
      <div class="contact col-xs-4">
        <div class="bottom20">
          <i class="fa fa-mobile"></i>
          <a href="#">
            <h5>Kontaktirajte nas</h5>
          </a>
        </div>
        <p>Mail: info@bild-studio.net <br>
          Telefon: +382 67 911 37 11; <br>
          Adresa: Drugog Crnogorskog bataljona bb, Podgorica, Crna Gora <br>
          PIB: 02783061
        </p>
        <div class="clearfix"></div>
      </div>
    </div>

    <hr>

    <div id="clientpic" class="footer_clients">
      <i class="fa fa-user"></i>
      <a href="#"><h5>Naši klijenti</h5></a>
      <img class="animated" src="src/assets/img/clients/cdm.png">
      <img class="animated" src="src/assets/img/clients/cdm.png">
      <img class="animated" src="src/assets/img/clients/cdm.png">
      <img class="animated" src="src/assets/img/clients/cdm.png">
      <img class="animated" src="src/assets/img/clients/cdm.png">
      <div class="clearfix"></div>
    </div>

    <hr>
    <p class="rights">Bild studio interactive design / +382 67 91 13 034 Montenegro / Copyright © 2008-2013 Bild studio. All Rights Reserved <span><i class="fa fa-facebook-square"></i><i class="fa fa-tumblr-square"></i><i class="fa fa-youtube-square"></i></span></p>
  </div>
</div>
</nav>
