<div class="container">
 <div class="row">
  <div class="main-content">
    <div class="wrapper">
      <div class="clients">
        <h4 class="line"><span>Klijenti i partneri</span></h4>
        <div class="clients-row line">
          <div class="client-logo first-col"><a href="#"><img src="{{ clients[0].img}}" alt="slika"></a> </div>
          <div class="client-logo second-col"><a href="#"><img src="{{ clients[1].img}}" alt="slika"></a></div>
          <div class="client-logo third-col"><a href="#"><a href="#"><img src="{{ clients[2].img}}" alt=""></a></div>
        </div>
        <div class="clients-row">
          <div class="client-logo first-col"><a href="#"><img src="{{ clients[3].img}}" alt=""></a></div>
          <div class="client-logo second-col"><a href="#"><img src="{{ clients[4].img}}" alt=""></a></div>
          <div class="client-logo third-col"><a href="#"><img src="{{ clients[5].img}}" alt=""></a></div>
        </div>
        <div class="other-link"> <a href="http://www.bild-studio.com/clients">pogledaj sve klijente &gt;</a> </div>
      </div>
      <hr class="hr-client">
      <h4 class="testimonial-h">Šta kažu naši klijenti</h4>
      <div class="testimonials">
        <div id="testimonials-carusel">
          <div><div class="testimonials-block">
            <div class="test-img"><img src="{{ what[0].img}}" alt=""></div>
            <div class="test-desc">
              <p> {{ what[0].text}}</p>
              <div class="author">{{ what[0].author}}</div>
            </div>
          </div>
          <div class="testimonials-block">
            <div class="test-img"><img src="{{ what[1].img}}" alt=""></div>
            <div class="test-desc">
              <p>{{ what[1].text}}</p>
              <div class="author">{{ what[1].author}}</div>
            </div>
          </div>
          <div class="testimonials-block last-block">
            <div class="test-img"><img src="{{ what[2].img}}" alt=""></div>
            <div class="test-desc">
              <p>{{ what[2].text}}</p>
              <div class="author">{{ what[2].author}}</div>
            </div>
          </div> </div>

          <div>
          </div>
          <div>
          </div>
        </div>
        <br> <br>
        <div class="other-link"> <a href="#">pogledaj sve izjave &gt;</a> </div>
      </div>
    </div>
  </div>
</div>
</div>
