<!-- html for navbar  -->
<nav class="nav-color navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
     <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
            <p class="navbar-text navbar-right"><img src="src/assets/img/logo.png"></p>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
        <div class=" links col-xs-7 col-md-7 col-sm-7 col-lg-7 col-xs-7">
            <a href="#"><p class="navbar-text">početna</p></a>
            <a href="#"><p class="navbar-text">paketi i cijene</p></a>
            <a href="#"><p class="navbar-text">zašto mi</p></a>
            <a href="#"><p class="navbar-text"><img src="src/assets/img/link-icon.png"> official web site</p></a>
            <a href=""> <p onclick="menu(this)" id="order-now" class=" navbar-text order">ORDER NOW</p></a> 
        </div>
     </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
<div class="row">
<div class="dropdown-nav">
  <div class="wrapper">
    <ul>
      <li><a href="#">Order service package</a></li>
      <li><a href="#">Choose and order dedicated team</li>
      <li><a href="#">Order our specific service</a></li>
    </ul>
  </div>
</div>
</div>
</div>
