<!-- html for navbar  -->
<nav class="nav-color navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
     <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
            <p class="navbar-text navbar-right"><img src="src/assets/img/logo.png"></p>
        </div>
        <div class="col-md-2 col-sm-4 col-lg-4 col-xs-4"></div>
        <div class=" links col-md-2 col-sm-6 col-lg-6 col-xs-6">
            <a href="#"><p class="navbar-text">početna</p></a>
            <a href="#"><p class="navbar-text">paketi i cijene</p></a>
            <a href="#"><p class="navbar-text">zašto mi</p></a>
            <a href="#"><p class="navbar-text"><img src="src/assets/img/link-icon.png"> official web site</p></a>
            <a href="#"><p class="navbar-text order">ORDER NOW</p></a> 
        </div>
     </div>
    </div>
  </div>
</nav>