<div class=" order-main container-fluid">
 <div class="container">
  <div class="order-packages row">
   <div class=" col-md-4">
    <img src="/outsource/src/assets/img/package/pack1.png" alt="slika">
    <h3> Order Service packages </h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  </p>
   </div>
   <div class="guys col-md-4">
    <img src="/outsource/src/assets/img/package/likovi.png" alt="slika">
    <h3>Chose & order dedicated team </h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  </p>
   </div>
    <div class="guys col-md-4">
    <img src="/outsource/src/assets/img/package/pack2.png" alt="slika">
    <h3> Order our specific service </h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  </p>
   </div>
  </div>
  
  <div class="row">
   <div id="contact-us" class=" col-md-12">
    <p> Contact us on our official web site </p>
    <img src="/outsource/src/assets/img/package/macbook.png" alt="slika">
   </div>
  </div>
 </div>
</div>