<!-- here you must put header -->
<div id="chosen-package" class="container-fluid">
	<section class="page-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
	        <div class="present">
	          <h1> Template website - choose solution </h1>
	          <p>
	            Working with us on retainer will save you tons of time, money and more importantly. give you the best professional team you can find. We worked on hundreds of projects and satisfied hundreds of our clients.
	          </p>
	        </div>
	      </div>
	      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 header-official"> 
	        <img src="../outsource/src/assets/img/order/official-icon2.png" alt="">
	        <br>
	        <br>
	        <p>All service packages</p>
	      </div>
	    </div>
	  </div>
	</section>
</div>
<!-- this is the directive for package -->
<dedicatedprices></dedicatedprices>
<div class="hr-line"> <!--empty element --> </div>
<projects> </projects>