<!-- this is the html file for /package-prices-technology-services page -->
<div id="package-prices-wrap">
  <div class="container-fluid">
	<div class="container">
	  <!-- page-header -->
	  <section class="page-header">
	    <div class="row">
	      <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
	        <div class="present">
	          <h1> Service price list </h1>
	          <p>
	            Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
	            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
	            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
	          </p>
	        </div>
	      </div>
	      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 header-official"> 
	        <img src="../outsource/src/assets/img/order/official-icon.png" alt="">
	        <br>
	        <br>
	        <p> See all services on our official web site </p>
	      </div>
	    </div>
	  </section>
	</div>
  </div>
	  <!-- end of page-header -->
	  <div id="service-two-wrap" class="container-fluid">
			<div class="container">
				<div class="row service-price-list">
					<div class="row list-header">
						<ul>
			              <li> Design &amp; UX services </li>
			              <li> Tehnology services </li>
			              <li> Marketing &amp; SEO services</li>
			            </ul>
					</div>
					<form method="" name="list-team" action="#" id="list-team">
						<div class="row list-table">
							<div class="web-sites">
					            <h3> Web sites </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 1000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 70000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					        </div>
					        <div class="template">
					            <h3> Template installation and customisation </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Lanscape review" /> Blog instalation </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Content strategy" /> Responsive web sites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Information architecture" /> Shopping cart </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Personas" /> Gambling portals </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 3000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 70000&#8364; </p> </div>
					        </div>
					        <div class="component">
					            <h3> Component and modules </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 1000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 70000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 1000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 70000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 1000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 70000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 1000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 70000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					        </div>
					        <div class="device-development">
					            <h3> Mobile &amp; Tablet development </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 3000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 20000&#8364; </p> </div>
					        </div>
					        <div class="front-end">
					            <h3> Front end development </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 3000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 20000&#8364; </p> </div>
					        </div>
					        <div class="open-source">
					            <h3> Open source system implementation </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Sugar CRM </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> PHP BB </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Magento </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 3000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					        </div>
					        <div class="comercial">
					            <h3> Comercial system implementation </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Book cover" /> JIRA </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Magazine cover" /> Microsoft Sharepoint </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Other book or magazine" /> Magento </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 3000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					        </div>
					        <div class="hosting">
					            <h3> Hosting, servers &amp; mail </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Optimizacija i keširanje </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 3000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					            <div class="check-price"> <p> 20000&#8364; </p> </div>
					        </div>
					        <div class="maintenence">
					            <h3> Maitenence &amp; support </h3>
					            <ul>
					            	<li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Sugar CRM </span> 
						            </li>
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> PHP BB </span> 
						            </li> 
						            <li> 
						              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Magento </span> 
						            </li>
					            </ul>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="horizontal-line"> <!--empty element --> </div>
					            <div class="check-price"> <p> 3000&#8364; </p> </div>
					            <div class="check-price"> <p> 6000&#8364; </p> </div>
					            <div class="check-price"> <p> 10000&#8364; </p> </div>
					        </div>
						</div>
						<div class="row bnt-submit">
			    			<button type="submit" form="price-table" class="order-service"> ORDER SELECTED SERVICE </button>
						</div>
					</form>
				</div>
			</div>
		</div><!-- end of table form -->
		<div class="container-fluid project-clients">
		  <div class="container">
		  	<div class="row other-categories">
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <a href="#"> View projects from other categories </a>
		  	 </div>
		  	 <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
		  	  <!-- empty space -->
		  	 </div>
		  	 <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
		  	  <a href="#" class="all-portfolio"> View all portfolio <img src="../outsource/src/assets/img/order/dots.png" alt=""> </a>
		  	 </div> 	
		  	</div>
		  	<div class="row clients-logo"> 
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <div class="client-image"> 
		  	   <img src="../outsource/src/assets/img/order/project1.png" alt="">
		  	  </div> 
		  	   <h4> Office of Montenegro EXPO Milano 2015 </h4>
		  	   <p> Corporate design </p>
		  	 </div>
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <div class="client-image"> 
		  	   <img src="../outsource/src/assets/img/order/project2.png" alt="">
		  	  </div> 
		  	   <h4> Common environmental action for conversation of the river Cijevna </h4>
		  	   <p> Corporate design </p>
		  	 </div>
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <div class="client-image"> 
		  	   <img src="../outsource/src/assets/img/order/project3.png" alt="">
		  	  </div> 
		  	   <h4> T-Mobile ritual party </h4>
		  	   <p> Graphic design </p>
		  	 </div>
		  	</div>
		  </div>
		</div>
	</div>

  <!-- directive for view projects from other categoires -->
  <projects> </projects>
