<div id="package-prices-wrap">
	<!-- page-header -->
	  <div class="container-fluid page-header">
	    <div class="container">
	      <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
	        <div class="present">
	          <h1> Service packages </h1>
	          <p>
	            Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
	            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
	            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
	          </p>
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"> </div>
	    </div>
	  </div>
	  <!-- end of page-header -->
	<div class="container-fluid veskov-dio1">
		<div class="container">
			<!-- this part is left for upgrade -->
		</div>
	</div>
	<div class="container-fluid dedicated-team-part">
		<div class="container">
			<div class="row page-header">
			  <div class="present">
		          <h1> Dedicated team &amp; prices </h1>
		          <p>
		            Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
		            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
		            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
		          </p>
	          </div>
			</div>
			<div class="row dedicated-present">
			  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 design-team"> 
			  	<h3> USER EXPERIENCE &amp; DESIGN TEAM </h3>
			  	<p> Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
		            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
		            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
		        </p>
		        <a href=""> read more </a> 
			  </div>
			  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 tech-team"> 
			  	<h3> TECHNOLOGY TEAM </h3>
			  	<p> Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
		            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
		            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
		        </p>
		        <a href=""> read more </a> 
			  </div>
			  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 menag-team"> 
			  	<h3> MENAGERS &amp; MARKETING TEAM </h3>
			  	<p> Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
		            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
		            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
		        </p>
		        <a href=""> read more </a> 
			  </div>
			</div>
		</div>
	</div>
	<div class="container-fluid price-list-tab">
		<div class="container">
			<div class="row page-header">
			  <div class="present">
		          <h1> Service price list </h1>
		          <p>
		            Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
		            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
		            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
		          </p>
	          </div>
			</div>
		</div>
	</div>
</div>
