       <div>
		<div class="container-fluid project-clients">
		  <div class="container">
		  	<div class="row other-categories">
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <a href="#"> View projects from other categories </a>
		  	 </div>
		  	 <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
		  	  <!-- empty space -->
		  	 </div>
		  	 <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
		  	  <a href="#" class="all-portfolio"> View all portfolio <img src="../outsource/src/assets/img/order/dots.png" alt=""> </a>
		  	 </div> 	
		  	</div>
		  	<div class="row clients-logo"> 
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <div class="client-image"> 
		  	   <img src="../outsource/src/assets/img/order/project1.png" alt="">
		  	  </div> 
		  	   <h4> Office of Montenegro EXPO Milano 2015 </h4>
		  	   <p> Corporate design </p>
		  	 </div>
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <div class="client-image"> 
		  	   <img src="../outsource/src/assets/img/order/project2.png" alt="">
		  	  </div> 
		  	   <h4> Common environmental action for conversation of the river Cijevna </h4>
		  	   <p> Corporate design </p>
		  	 </div>
		  	 <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  	  <div class="client-image"> 
		  	   <img src="../outsource/src/assets/img/order/project3.png" alt="">
		  	  </div> 
		  	   <h4> T-Mobile ritual party </h4>
		  	   <p> Graphic design </p>
		  	 </div>
		  	</div>
		  </div>
		</div>
	</div>