<div id="service-two-wrap">
	<div class="container-fluid">
		<div class="container">
			<div class="row service-price-list">
				<div class="row list-header">
					<ul>
		              <li> Design &amp; UX services </li>
		              <li> Tehnology services </li>
		              <li> Marketing &amp; SEO services</li>
		            </ul>
				</div>
				<form method="" name="list-team" action="#" id="list-team">
					<div class="row list-table">
						<div class="web-sites">
				            <h3> Web sites </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 1000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 70000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				        </div>
				        <div class="template">
				            <h3> Template installation and customisation </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Lanscape review" /> Blog instalation </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Content strategy" /> Responsive web sites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Information architecture" /> Shopping cart </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Personas" /> Gambling portals </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 3000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 70000&#8364; </p> </div>
				        </div>
				        <div class="component">
				            <h3> Component and modules </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> News portals </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 1000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 70000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 1000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 70000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 1000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 70000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 1000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 70000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				        </div>
				        <div class="device-development">
				            <h3> Mobile &amp; Tablet development </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 3000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 20000&#8364; </p> </div>
				        </div>
				        <div class="front-end">
				            <h3> Front end development </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Portfolio websites </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 3000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 20000&#8364; </p> </div>
				        </div>
				        <div class="open-source">
				            <h3> Open source system implementation </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Sugar CRM </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> PHP BB </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Magento </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 3000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				        </div>
				        <div class="comercial">
				            <h3> Comercial system implementation </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Book cover" /> JIRA </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Magazine cover" /> Microsoft Sharepoint </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Other book or magazine" /> Magento </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 3000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				        </div>
				        <div class="hosting">
				            <h3> Hosting, servers &amp; mail </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Optimizacija i keširanje </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Responsive websites </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Shopping carts </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Gambling portals </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 3000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				            <div class="check-price"> <p> 20000&#8364; </p> </div>
				        </div>
				        <div class="maintenence">
				            <h3> Maitenence &amp; support </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Sugar CRM </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> PHP BB </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Magento </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 3000&#8364; </p> </div>
				            <div class="check-price"> <p> 6000&#8364; </p> </div>
				            <div class="check-price"> <p> 10000&#8364; </p> </div>
				        </div>
					</div>
					<div class="row bnt-submit">
		    			<button type="submit" form="price-table" class="order-select"> Next step </button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
