<div id="service-one-wrap">
	<div class="container-fluid">
		<div class="container">
			<div class="row service-price-list">
				<div class="row list-header">
					<ul>
		              <li> Design &amp; UX services </li>
		              <li> Tehnology services </li>
		              <li> Marketing &amp; SEO services</li>
		            </ul>
				</div>
				<form method="" name="list-team" action="#" id="list-team">
					<div class="row list-table">
						<div class="logo-id">
				            <h3> Logo &amp; Identity </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Logo design" /> Logo design </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Business card" /> Business card </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Stationery </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brend Identity Pack" /> Brend Identity Pack </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 500&#8364; </p> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 800&#8364; </p> </div>
				        </div>
				        <div class="ux">
				            <h3> User Experience </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Lanscape review" /> Lanscape review </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Content strategy" /> Content strategy </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Information architecture" /> Information architecture </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Personas" /> Personas </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="User journeys" /> User journeys </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Wireframes" /> Wireframes </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Rapid prototyping" /> Rapid prototyping </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="User interface design" /> User interface design </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 500&#8364; </p> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 300&#8364; </p> </div>
				            <div class="check-price"> <p> 400&#8364; </p> </div>
				            <div class="check-price"> <p> 500&#8364; </p> </div>
				            <div class="check-price"> <p> 300&#8364; </p> </div>
				            <div class="check-price"> <p> 300&#8364; </p> </div>
				        </div>
				        <div class="web-site">
				            <h3> Website &amp; app </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Website design" /> Website design </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Landing page" /> Landing page </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Icon or button" /> Icon or button </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Mobile app" /> Mobile app </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Social media page" /> Social media page </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 800&#8364; </p> </div>
				            <div class="check-price"> <p> 400&#8364; </p> </div>
				            <div class="check-price"> <p> 100&#8364; </p> </div>
				            <div class="check-price"> <p> 700&#8364; </p> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				        </div>
				        <div class="clothing">
				            <h3> Clothing &amp; Merchandise </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="T-shirt" /> T-shirt </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Clothing or apparel" /> Clothing or apparel </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Stationery" /> Stationery </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				        </div>
				        <div class="business">
				            <h3> Business &amp; advertising </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Postcard, flyer &amp; print" /> Postcard, flyer &amp; print </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Infografic" /> Infografic </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Brochure" /> Brochure </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Banner ad" /> Banner ad </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Flash banner" /> Flash banner </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Signage" /> Signage </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="E-mail" /> E-mail </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 400&#8364; </p> </div>
				            <div class="check-price"> <p> 800&#8364; </p> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 200&#8364; </p> </div>
				            <div class="check-price"> <p> 400&#8364; </p> </div>
				        </div>
				        <div class="art">
				            <h3> Art &amp; Illustration </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Illustration &amp; graphics" /> Illustration &amp; graphics </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Card or invitation" /> Card or invitation </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Other art or illustration" /> Other art or illustration </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				        </div>
				        <div class="book">
				            <h3> Book &amp; magazine </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Book cover" /> Book cover </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Magazine cover" /> Magazine cover </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Other book or magazine" /> Other book or magazine </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				            <div class="check-price"> <p> 150&#8364; </p> </div>
				        </div>
				        <div class="packaging">
				            <h3> Packaging &amp; label </h3>
				            <ul>
				            	<li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Product packaging" /> Product packaging </span> 
					            </li>
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Product label" /> Product label </span> 
					            </li> 
					            <li> 
					              	<span class="check-text"> <input type="checkbox" name="pick-team" value="Other packaging label" /> Other packaging label </span> 
					            </li>
				            </ul>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="horizontal-line"> <!--empty element --> </div>
				            <div class="check-price"> <p> 600&#8364; </p> </div>
				            <div class="check-price"> <p> 400&#8364; </p> </div>
				            <div class="check-price"> <p> 400&#8364; </p> </div>
				        </div>
					</div>
					<div class="row bnt-submit">
		    			<button type="submit" form="price-table" class="order-select"> Next step </button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
