<div id="slider">
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <li data-transition="fade" data-masterspeed="1500" > 
          <!-- MAIN IMAGE --> 
          <img src="src/assets/img/slider/1.jpg"  data-bgposition="top center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="top center">
          <div class="caption sfr slider-heading"
						data-x="left"
						data-y="40"
						data-speed="1000"
						data-start="1200"
						data-easing="Power3.easeInOut"			
						> Želite da oursorsujete vaš posao ne<br>
            razmišljajući o kontroli kvaliteta i<br>
            rokovima, skraćujući vaše troškove? </div>
          <div class="caption sfb slider-p"
						data-x="left"
						data-y="200"
						data-speed="1000"
						data-start="1600"
						data-easing="Power4.easeOut"><span class="slide"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of<br>
            using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here' <span> </div>
        </li>
        <!-- SLIDE  -->
        <li data-transition="fade" data-masterspeed="1500" > 
          <!-- MAIN IMAGE --> 
          <img src="src/assets/img/slider/2.jpg"  data-bgposition="top center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="top center">
          <div class="caption sfr slider-heading"
						data-x="left"
						data-y="40"
						data-speed="1000"
						data-start="1200"
						data-easing="Power3.easeInOut"			
						> Žašto mi? </div>
        </li>
        <li data-transition="fade" data-masterspeed="1500" > 
          <!-- MAIN IMAGE --> 
          <img src="src/assets/img/slider/3.jpg"  data-bgposition="top center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="top center">
          <div class="caption sfr slider-heading"
						data-x="left"
						data-y="60"
						data-speed="1000"
						data-start="1200"
						data-easing="Power3.easeInOut"			
						> Work process </div>
          <div class="caption sfb slider-p"
						data-x="left"
						data-y="120"
						data-speed="1000"
						data-start="1600"
						data-easing="Power4.easeOut">It is a long established fact that a reader will be distracted by the<br>
            readable content of a page when looking at its layout. The point of<br>
            using Lorem Ipsum is that it has a more-or-less normal distribution of </div>
        </li>
        <li data-transition="fade" data-masterspeed="1500" > 
          <!-- MAIN IMAGE --> 
          <img src="src/assets/img/slider/4.jpg"  data-bgposition="top center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="top center">
          <div class="caption sfr slider-heading orange"
						data-x="left"
						data-y="40"
						data-speed="1000"
						data-start="1200"
						data-easing="Power3.easeInOut"			
						> Technology and solution </div>
          <div class="caption sfb slider-p dark"
						data-x="left"
						data-y="120"
						data-speed="1000"
						data-start="1600"
						data-easing="Power4.easeOut">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <br>
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br>
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
        </li>
        <li data-transition="fade" data-masterspeed="1500" > 
          <!-- MAIN IMAGE --> 
          <img src="src/assets/img/slider/5.jpg"  data-bgposition="top center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="top center">
          <div class="caption sfr slider-heading blue"
						data-x="left"
						data-y="40"
						data-speed="1000"
						data-start="1200"
						data-easing="Power3.easeInOut"			
						> Service price list </div>
          <div class="caption sfb slider-p"
						data-x="left"
						data-y="120"
						data-speed="1000"
						data-start="1600"
						data-easing="Power4.easeOut">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br>
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br>
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </div>
        </li>
      </ul>
    </div>
  </div>
</div>