<div id="whyus-tehnology-wrap">
	<!-- page-header -->
	  <div class="container-fluid page-header">
	    <div class="container">
	      <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
	        <div class="present">
	          <h1> Tahnology and solution </h1>
	          <p>
	            Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong> 200 </strong> 
	            naših klijenata, o čemu najbolje  svjedoči svaki od <strong> 1000 </strong> 
	            projekata na kojima smo vrijedno radili prethodnih <strong> 10 </strong> godina.
	          </p>
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"> </div>
	    </div>
	  </div>
	  <!-- end of page-header -->
	<div class="container-fluid tehnology-blocks">
		<div class="container">
		  <div class="row">
			<div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block">
				<div class="row">
			        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon"> 
			        	<img src="../outsource/src/assets/img/package/icon1a.jpg" alt=""> 
			        </div>
			        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head"> 
			        	<h3> Application / Web servers </h3> 
			        </div>
		        </div>
		        <div class="row">
			        <div class="tehno-text"> 
			          <ul>
			            <li> Microsoft IIS (Internet Information Server) </li>
			            <li> Apache </li>
			            <li> Node.js </li>
			            <li> Nginx </li>
			            <li> VMware Server and Desktop Virtualisation </li>
			            <li> Tomcat </li>
			            <li> Mercurial / Gift </li>
			          </ul>
			        </div>
		        </div>
	        </div>	
			<div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block">
			  <div class="row">
				  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon">  
				  	<img src="../outsource/src/assets/img/package/icon2a.jpg" alt=""> 
				  </div>
		          <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head"> 
		          	<h3> Frameworks / API / Tools </h3> 
		          </div>
		        <div class="tehno-text"> 
		          <div class="float-left">
		            <ul>
		              <li> Ajax </li>
		              <li> Apache Ant </li>
		              <li> Bootstrap </li>
		              <li> CSS </li>
		              <li> Facebook APIs </li>
		              <li> Hybernate </li>
		              <li> HTML5 </li>
		              <li> JQuery </li>
		              <li> Silverlight </li>
		            </ul>
		          </div>
		          <div class="float-left">
		            <ul>
		              <li> Angular JS </li>
		              <li> Jason </li>
		              <li> Kendo UI </li>
		              <li> oAuth </li>
		              <li> SOAP / REST Web <br> services </li>
		              <li> Tweeter APIs </li>
		              <li> XML / XML DTD / XPath / Xquery / XSL / XSLT </li>
		            </ul>
		          </div>
		        </div>
		      </div>
	  		</div>
	  		<div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block tehno-prog">
		        <div class="row">
				  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon">  
				  	<img src="../outsource/src/assets/img/package/icon3a.jpg" alt=""> 
				  </div>
		          <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head">  
		          	<h3> Programming <br> language </h3> 
		          </div>
		        </div>
		        <div class="row">
		          <div class="tehno-text"> 
		            <div class="float-left">
			            <ul>
			              <li> ASP </li>
			              <li> C# </li>
			              <li> Java </li>
			              <li> PHP </li>
			              <li> SQL / T-QL </li>
			            </ul>
		            </div>
		            <div class="float-left">
			            <ul>
			              <li> Objective C </li>
			              <li> Java Script </li>
			              <li> Visual Basics </li>
			            </ul>
		            </div>
		          </div>
		        </div>
		    </div>
		  </div> <!--end of the first row -->
		  <div class="row">
			    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block app-fix">
			      <div class="row">
					  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon">  
					  	<img src="../outsource/src/assets/img/package/icon4a.jpg" alt=""> 
					  </div>
			          <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head">
			          	<h3> Application platforms / <br> Software Frameworks </h3>
			          </div>
			      </div>
			      <div class="row">
			          <div class="tehno-text"> 
			          	<ul>
			              <li> Apache Hadoop / Solr </li>
			              <li> Drupal </li>
			              <li> Wordpress </li>
			              <li> LinkedIn </li>
			              <li> Facebook </li>
			              <li> Tweeter </li>
			              <li> Joomla </li>
			              <li> Magento </li>
			            </ul>
			          </div>
			      </div>
			    </div>
			    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block left-fix">
			    	<div class="row">
					  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon">  
					  	<img src="../outsource/src/assets/img/package/icon5a.jpg" alt=""> 
					  </div>
			          <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head">
			          	<h3> Open source <br> tehnologies supported </h3>
			          </div>
			        </div>
			        <div class="row">
			          <div class="tehno-text"> 
			          	<ul>
			          	  <li> Linux Server Operating Systems </li>
			              <li> Linux MySQL </li>
			              <li> LINUX PostgreSQL </li>
			              <li> Linux variety of web and emails servers </li>
			            </ul>
			          </div>
			        </div>
			    </div>
			    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block data-fix">
			    	<div class="row">
					  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon">  
					  	<img src="../outsource/src/assets/img/package/icon6a.jpg" alt=""> 
					  </div>
			          <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head">
			          	<h3> Database Tehnology / <br> Non-SQL Data Stores </h3>
			          </div>			      
			        </div>
			        <div class="row">
			          <div class="tehno-text"> 
			          	<ul>
			          	  <li> Microsoft SQL Server </li>
			              <li> Microsoft SharePoint </li>
			              <li> Oracle DB </li>
			              <li> MySQL </li>
			              <li> MongoDB </li>
			              <li> Apache Lucene / Solr / Hadrop </li>
			              <li> Memcache </li>
			            </ul>
			          </div>
			        </div>
			    </div>
		  </div><!-- end of second row -->
		  <div class="row">
		  	<div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block left-fix">
		    	<div class="row">
				  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon">  
				  	<img src="../outsource/src/assets/img/package/icon7a.jpg" alt=""> 
				  </div>
		          <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head">
		          	<h3> Hardware supported </h3>
		          </div>			      
		        </div>
		        <div class="row">
		          <div class="tehno-text"> 
		          	<ul>
		          	  <li> SERVERS: <br>
		                  <p> HP / DELL / Apple / Lenovo / IBM </p> 
		              </li>
		              <li> SWITCHES: / FIREWALLS /ROUTERS: <br>
		                  <p> HP / Cisco Systems / Apple / Checkpoint / Sonic Wall / Baracuda / Juniper Networks </p>
		              </li>
		              <li> MOBILE DEVICES: <br>
		                  <p> Apple / Android / Microsoft / Firefox </p>
		              </li>
		            </ul>
		          </div>
		        </div>
			</div>
			<div class="col-md-4 col-sm-6 col-lg-4 col-xs-6 tehno-block opp-fix">
		    	<div class="row">
				  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 tehno-icon">  
				  	<img src="../outsource/src/assets/img/package/icon8a.jpg" alt=""> 
				  </div>
		          <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 tehno-head">
		          	<h3> Opperating systems <br> supported </h3>
		          </div>			      
		        </div>
		        <div class="row">
		          <div class="tehno-text"> 
		          	<ul>
		          	  <li> Microsoft Windows XP Pro / 7 / 8 / 10 </li>
		              <li> Apple Mac OS X Snow Leopard / Lion / Mountain lion / Mavericks / Yosemite </li>
		              <li> Linux </li>
		              <li> Android Ice Cream sandwitch / Jelly Bean / KitKat / Lollipop </li>
		              <li> iOS 6 / 7 / 8 </li>
		              <li> Windows 7 / 8 </li>
		            </ul>
		          </div>
		        </div>
			</div>
		  </div><!-- end of the third row -->
	    </div>
	</div><!-- end of tehnology blocks -->
	<div class="container-fluid testimonial-section">
		<div class="container">
	        <div class="testim-head">
	          <h3> Šta kažu naši klijenti </h3>
	        </div>
	        <div class="row">
	      	  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 client-block">
	       		 <div class="client-pic"> 
	       		 	<img src="../outsource/src/assets/img/testimonials/1.jpg" alt="" class="img-circle"> 
	       		 </div>
		          <div class="testim"> 
			          <p> 
			            Naš sajt pokazuje rezultate naše saradnje, na šta smo ponosni.
			            Bilo je zadovoljstvo raditi sa timom koji zna šta treba i 
			            kako da to ostvari. Iznenađeni smo kako mlad tim može da...
			          </p> 
		          </div>
	          	  <div class="client-name"> <p> Dejan Milić, Izvršni direktor, Simes inžinjering </p> </div>
	      	  </div>
		      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 client-block mid-cli-block">
		        <div class="client-pic"> 
		        	<img src="../outsource/src/assets/img/testimonials/1.jpg" alt="" class="img-circle"> 
		        </div>
		        <div class="testim"> 
		          <p> 
		            Čast nam je preporučiti profesionalne usluge agencije Bild Studio. Na naše zadovoljstvo
		            smo radili godinama na mnogim projektima, uključujući redizajn našeg vizuelnog identiteta, izradi...
		          </p> 
		        </div>
	           <div class="client-name"> <p> Jovana Janjušević, Programme Assistant, Green Home </p> </div>
	           </div>
		      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 client-block">
		        <div class="client-pic"> <img src="../outsource/src/assets/img/testimonials/1.jpg" alt="" class="img-circle"> </div>
		        <div class="testim"> 
		          <p> 
		            I'm honored to offer my highest recommendation on behalf of Dnevne novine.
		            Our entire collaboration with Bild Studio has been full of professionalism, 
		            what resulted in successful...
		          </p>
		        </div>
	        <div class="client-name"> <p> Boris Darmanović, Direktor, Dnevne Novine </p> </div>
	      </div>
	     </div>
	    </div>
	  </div> <!-- end of testimonials -->
		</div>
	</div>
</div>
