<div class="work-areas">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 feature feature-left">
          <h2> See our work progress </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 feature feature-mid">
          <h2>Tehnoligije koje koristimo</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 feature feature-right">
          <h2> Naše usluge je koristilo preko 200 klijenata </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
        </div>
      </div>
      <div class="row sub-header">
        <h2> We work projects in different areas &amp; industries </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="row round-areas">
        <div class="row first-row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 stay-left">
            <h2> Vlada, ministarstva, gradovi i gradske uprave </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 go-right">
            <h2> Turizam, ugostiteljstvo i nekretnine </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 stay-left">
            <h2> Fakulteti </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 go-right">
            <h2> Mediji </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
        <div class="row third-row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 stay-left">
            <h2> Gambling &amp games </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 go-right">
            <h2> NGO, mala i srednja preduzeća </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, 
            </p>
          </div>
        </div>
        <div class="row fourth-row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 stay-left">
            <h2> Banke </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 go-right">
            <h2> Energetika i rudarstvo </h2>
            <p> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>