<div class="main-content">
<div class="wrapper">
<div class="clients">
 <h4>Šta kažu naši klijenti</h4>
 <div class="testimonials">
  <div id="testimonials-carusel">
    <div><div class="testimonials-block">
      <div class="test-img"><img src="{{ what[0].img}}" alt=""></div>
      <div class="test-desc">
        <p> {{ what[0].text}}</p>
        <div class="author">{{ what[0].author}}</div>
      </div>
    </div>
    <div class="testimonials-block">
      <div class="test-img"><img src="{{ what[1].img}}" alt=""></div>
      <div class="test-desc">
        <p>{{ what[1].text}}</p>
        <div class="author">{{ what[1].author}}</div>
      </div>
    </div>
    <div class="testimonials-block">
      <div class="test-img"><img src="{{ what[2].img}}" alt=""></div>
      <div class="test-desc">
        <p>{{ what[2].text}}</p>
        <div class="author">{{ what[2].author}}</div>
      </div>
    </div> </div>

    <div>
    </div>
    <div>
    </div>
  </div>
  <br> <br>
  <div class="other-link"> <a href="#">pogledaj sve izjave &gt;</a> </div>
</div>
</div>
</div>
</div>

