<div id="work-process" class="container">
 <div class="process-heading row page-header">
  <h1>Work process</h1>
  <div>
   <p>
   Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong>200</strong> naših klijenata, o čemu najbolje svjedoči svaki od 1000 projekata na kojima smo vrijedno radili prethodnih <strong>10</strong> godina.
   <br>
   Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong>200</strong> naših klijenata, o čemu najbolje svjedoči svaki od 1000 projekata na kojima smo vrijedno radili prethodnih <strong>10</strong> godina.
   Svojim kvalitetnim radom smo zavrijedili povjerenje preko <strong>200</strong> naših klijenata, o čemu najbolje svjedoči svaki od 1000 projekata na kojima smo 
   <br>
   vrijedno radili prethodnih <strong>10</strong> godina.
   <br> 
   <br>
    vrijedno radili prethodnih <strong>10</strong> godina.
   </p>
  </div>
 </div>
</div>
<div id="process-content" class="container-fluid">
  <div class="container">
  	<div class="row">
  		<h3> Our process for: </h3>
  	</div>
  	<div class="row">
	  <div class="row list-header">
		<ul>
          <li> 
          	Web development 
          	<img src="src/assets/img/order/pointer1.png" alt="">
          </li>
          <li class="mid-li"> 
          	Graphic design 
          	<img src="src/assets/img/order/pointer1.png" alt="">
          </li>
          <li> 
          	Marketing &amp; strategy 
          	<img src="src/assets/img/order/pointer1.png" alt="">
          </li>
        </ul>
	  </div>
  	</div>
  	<div class="row">
  		<div class="process-flow">
        <div class="process-text removeIt">
          <h4> PREGOVARAČKI PROCES </h4>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-doc.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Zahtjev za ponudom </p>
            </div>
          </div>
          <div class="process-unit party-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-party.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Sastanak povodom detaljnijih zahtjeva </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-map.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Definisanje ciljeva i rezultata </p>
            </div>
          </div>
          <div class="process-unit zoom-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-zoom.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Istraživanje, konsultacije i planiranje </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-check.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Ponuda </p>
            </div>
          </div>
          <div class="process-unit deal-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-deal.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Potpisivanje ugovora </p>
            </div>
          </div>
        </div>
  			<div onmouseover="showNum(this)" onmouseout="hideNum(this)" class="round-proc left-float num-one">
  			  <a href="" class="hvr-pulse"> <img src="src/assets/img/order/num-proc.png" alt=""> </a>
          <a href="" onclick="expandLinePart(this)" class="removeIt num-proc"> <img src="src/assets/img/order/num-proc1.png" alt=""> <span>1</span> </a>
  			</div>
        <span class="flow-line ln-part-1 removeIt"> <img src="src/assets/img/order/line-proc-d1.png" alt=""> </span>
        <div class="process-text text-part-2 removeIt">
          <h4> PREGOVARAČKI PROCES </h4>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-doc.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Zahtjev za ponudom </p>
            </div>
          </div>
          <div class="process-unit party-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-party.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Sastanak povodom detaljnijih zahtjeva </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-map.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Definisanje ciljeva i rezultata </p>
            </div>
          </div>
          <div class="process-unit zoom-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-zoom.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Istraživanje, konsultacije i planiranje </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-check.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Ponuda </p>
            </div>
          </div>
          <div class="process-unit deal-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-deal.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Potpisivanje ugovora </p>
            </div>
          </div>
        </div>
  			<div onmouseover="showNum(this)" onmouseout="hideNum(this)" class="round-proc float-right num-two">
  			  <a href="" class="hvr-pulse"> <img src="src/assets/img/order/num-proc.png" alt=""> </a>
          <a href="" onclick="expandLinePart(this)" class="removeIt num-proc"> <img src="src/assets/img/order/num-proc1.png" alt=""> <span>2</span> </a>
  			</div>
        <span class="flow-line ln-part-2 removeIt"> <img src="src/assets/img/order/line-proc-b1.png" alt=""> </span>
        <div class="process-text  text-part-3 removeIt">
          <h4> PREGOVARAČKI PROCES </h4>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-doc.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Zahtjev za ponudom </p>
            </div>
          </div>
          <div class="process-unit party-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-party.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Sastanak povodom detaljnijih zahtjeva </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-map.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Definisanje ciljeva i rezultata </p>
            </div>
          </div>
          <div class="process-unit zoom-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-zoom.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Istraživanje, konsultacije i planiranje </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-check.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Ponuda </p>
            </div>
          </div>
          <div class="process-unit deal-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-deal.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Potpisivanje ugovora </p>
            </div>
          </div>
        </div>
  			<div onmouseover="showNum(this)" onmouseout="hideNum(this)" class="round-proc left-float num-three">
  			  <a href="" class="hvr-pulse"> <img src="src/assets/img/order/num-proc.png" alt=""> </a>
          <a href="" onclick="expandLinePart(this)" class="removeIt num-proc"> <img src="src/assets/img/order/num-proc1.png" alt=""> <span>3</span> </a>
  			</div>
        <span class="flow-line ln-part-3 removeIt"> <img src="src/assets/img/order/line-proc-c1.png" alt=""> </span>
        <div class="process-text text-part-4 removeIt">
          <h4> PREGOVARAČKI PROCES </h4>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-doc.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Zahtjev za ponudom </p>
            </div>
          </div>
          <div class="process-unit party-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-party.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Sastanak povodom detaljnijih zahtjeva </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-map.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Definisanje ciljeva i rezultata </p>
            </div>
          </div>
          <div class="process-unit zoom-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-zoom.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Istraživanje, konsultacije i planiranje </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-check.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Ponuda </p>
            </div>
          </div>
          <div class="process-unit deal-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-deal.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Potpisivanje ugovora </p>
            </div>
          </div>
        </div>
  			<div onmouseover="showNum(this)" onmouseout="hideNum(this)" class="round-proc float-right num-four">
  			  <a href="" class="hvr-pulse"> <img src="src/assets/img/order/num-proc.png" alt=""> </a>
          <a href="" onclick="expandLinePart(this)" class="removeIt num-proc"> <img src="src/assets/img/order/num-proc1.png" alt=""> <span>4</span> </a>
  			</div>
        <span class="flow-line ln-part-4 removeIt"> <img src="src/assets/img/order/line-proc-b1.png" alt=""> </span>
        <div class="process-text  text-part-5 removeIt">
          <h4> PREGOVARAČKI PROCES </h4>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-doc.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Zahtjev za ponudom </p>
            </div>
          </div>
          <div class="process-unit party-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-party.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Sastanak povodom detaljnijih zahtjeva </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-map.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Definisanje ciljeva i rezultata </p>
            </div>
          </div>
          <div class="process-unit zoom-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-zoom.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Istraživanje, konsultacije i planiranje </p>
            </div>
          </div>
          <div class="process-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-check.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Ponuda </p>
            </div>
          </div>
          <div class="process-unit deal-unit">
            <div class="process-icon">
              <img src="src/assets/img/order/proc-deal.png" alt="">
            </div>
            <br>
            <div class="process-p">
              <p> Potpisivanje ugovora </p>
            </div>
          </div>
        </div>
  			<div onmouseover="showNum(this)" onmouseout="hideNum(this)" class="round-proc left-float num-five">
  			  <a href="" class="hvr-pulse"> <img src="src/assets/img/order/num-proc.png" alt=""> </a>
          <a href="" onclick="expandLinePart(this);expandNum6(this);" class="removeIt num-proc"> <img src="src/assets/img/order/num-proc1.png" alt=""> <span>5</span> </a>
  			</div>
        <span class="flow-line ln-part-5 removeIt"> <img src="src/assets/img/order/line-proc-a1.png" alt=""> </span>
  			<div onmouseover="showNum(this)" onmouseout="hideNum(this)" class="round-proc float-right num-six ">
  			  <a href="" class="hvr-pulse"> <img src="src/assets/img/order/num-proc.png" alt=""> </a>
          <a href="" class="removeIt num-proc"> <img src="src/assets/img/order/num-proc1.png" alt=""> <span>6</span> </a>
  			</div>
  		</div>
  	</div>
  </div>
</div><!-- end of process content -->
<whyusclient></whyusclient>