<div class="container-fluid">
<div class="row">
<div class="why-us">
  <div class="wrapper">
    <h3>Zašto mi?</h3>
    <div class="us-left">
      <div>
        <div class="why-img"><img src="{{whyus[0].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[0].title}}</h4>
          <p>{{whyus[0].body_text}}</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="{{whyus[1].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[0].title}}</h4>
          <p>{{whyus[0].body_text}}</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="{{whyus[2].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[2].title}}</h4>
          <p>{{whyus[2].body_text}}</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="{{whyus[3].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[3].title}}</h4>
          <p>{{whyus[3].body_text}}</p>
        </div>
      </div>
    </div>
    <div class="us-right">
      <div>
        <div class="why-img"><img src="{{whyus[4].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[4].title}}</h4>
          <p>{{whyus[4].body_text}}</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="{{whyus[5].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[5].title}}</h4>
          <p>{{whyus[5].body_text}}</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="{{whyus[6].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[6].title}}</h4>
          <p>{{whyus[6].body_text}}</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="{{whyus[7].img}}" alt=""> </div>
        <div class="why-desc">
          <h4>{{whyus[7].title}}</h4>
          <p>{{whyus[7].body_text}}</p>
      </div>
    </div>
  </div>
</div>

</div>
</div>