<div class="container-fluid">
<div class="row">
<div class="why-us">
  <div class="wrapper">
    <h3>Zašto mi?</h3>
    <div class="us-left">
      <div>
        <div class="why-img"><img src="assets/img/why-us/1.png" alt=""> </div>
        <div class="why-desc">
          <h4>Full service agencija</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="assets/img/why-us/2.png" alt=""> </div>
        <div class="why-desc">
          <h4>Dizajn standardi</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="assets/img/why-us/3.png" alt=""> </div>
        <div class="why-desc">
          <h4>10 godina postojanja</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="assets/img/why-us/4.png" alt=""> </div>
        <div class="why-desc">
          <h4>100% satisfaction</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
    </div>
    <div class="us-right">
      <div>
        <div class="why-img"><img src="assets/img/why-us/5.png" alt=""> </div>
        <div class="why-desc">
          <h4>On time on budget</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="assets/img/why-us/6.png" alt=""> </div>
        <div class="why-desc">
          <h4>Štitimo interese klijenata</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="assets/img/why-us/7.png" alt=""> </div>
        <div class="why-desc">
          <h4>Jedna od najvećih</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
      <div>
        <div class="why-img"><img src="assets/img/why-us/8.png" alt=""> </div>
        <div class="why-desc">
          <h4>Great support</h4>
          <p>....It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>