.main-content {
  .wrapper {
    margin-left: 7%;
    width: 70%;
  }
  h4 { 
    width:100%; 
    text-align:center; 
    color: $blue;
    line-height:0em; 
    margin:10px 0 20px; 
    //text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    font-family: KlavikaMedium, Arial, Helvetica, sans-serif;
    &.line{
      border-bottom: 1px solid $blue; 
    }
    span { background: #fff; padding:0 15px; }
  } 
  .clients{
    margin-top: 70px; 
    @include clearfix;
    .clients-row {
      @include clearfix;
      &.line{
        border-bottom: 1px solid #cfcfcf;
        margin-top: 40px;
      }
      .client-logo{
        width: 33.33%;
        float: left;
        border-right: 1px solid #cfcfcf;
        @include box-sizing(border-box); 
        height: 222px;
        position: relative;
        &:last-child{
          border-right: none;
        }
        img {     
          display:block;
          margin:auto;
        }

        img:hover{
          @include animation(pulse 3s);
        }
      }
      .first-col {
        a {
          position: relative;
          top: 5px;
          left: -1%;
        }
      }
      .second-col {
        a {
          position: relative;
          top: 12px;
          left: 0.5%;
        }
      } 
      .third-col {
        a {
          position: relative;
          top: 10px;
          left: 3%;
        }
      }     
    }
    .line {
      .first-col {
          a {
            position: relative;
            top: 3px;
            left: -2%;
          }
        }
      .second-col {
        a {
          position: relative;
          top: -10px;
          left: 0.5%;
        }
      }
      .third-col {
        a {
          position: relative;
          top: -15px;
          left: 0.5%;
        }
      }
    }
    .other-link {
      margin-top: 10px;
      margin-right: 10px;
      a {
        letter-spacing: -0.02em;
      }
    }
  }
}
.hr-client {
  background: url('/outsource/src/assets/img/hr-clients.png') no-repeat;
  width: 100%;
  height: 49px;
  border:none;
  margin-bottom: 30px;
  margin-top: 0;
}
.testimonial-h {
  position: relative;
  top: 5px;
}
.testimonials {
  margin-top: 62px;
  .last-block {
    padding-left: 2%;
  }
  .other-link {
    margin-right: 10px;
    margin-bottom: 47px;
    a {
      position: relative;
      top: 30px;
      letter-spacing: -0.02em;
    }
  }
}
  .testimonials-block{
    width: 33.33%;
    float: left;
    margin-top: -10px;
    @include clearfix;
    .test-img{
      width: 25%;
      float: left;
      img{
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        border: 1px solid #E4E4E4;
        overflow: hidden;
      }
    }
    .test-desc{
       float: right;
      width: 75%;
      padding: 0 50px 0 15px;
       @include box-sizing(border-box);
       p{
        font-size: 13px;
        line-height: 18px;
       }
    }
    .author{
      color: #000;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .testimonials-block:first-child {
    margin-left: -2%;
    margin-right: 1%;
  } 
   .testimonials-block:last-child {
    margin-left: 1%;
  }
div.container-fluid.testimon {
  background-color: #E6E6E6;
  padding-left: 18%;
}
#testimonial-page + div.testimon {
  .testimonials-block {
    width: 31%;
    margin: 0;
    margin-top: -45px;
    margin-bottom: 110px;
    .test-desc {
      padding-left: 10px;
    }
  }
}
#aboutusmenu + div.container {
  div.main-content div.wrapper {
    width: 84%;
    .clients {
      h4 {
        text-transform: uppercase;
      }
    }
    .testimonial-h {
      text-transform: uppercase;
    }
    .testimonials-block {
        width: 33.33%;
        margin: 0;
        .test-desc {
          padding-left: 10px;
        }
      }
  }
}
