#dedicated-two-wrap {
	background-color: #E6E6E6;
	.chosen-team {
		margin-top: 70px;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		.team-header {
			background-color: #005278;
			width: 100%;
			height: 70px;
			div {
				padding: 0px;
			}
			h3 {
				font-size: 1.4em;
				color: white;
				padding: 0px;
				margin: 0px;
				text-align: center;
			}
			.name-header, .total-header {
				h3 {
					font-weight: 600;
				}
			}
			.name-header, .total-header, .price-header, .member-header, .delete-header {
				padding-top: 25px;
			}
			.name-header {
				width: 21%;
			}
			.price-header {
				width: 13%;
			}
			.period-header {
				padding-top: 10px;
				margin-left: 4%;
				width: 16%;
				text-align: center;
			}
			.member-header {
				width: 25%;
				margin-left: 2%;
				h3 {
					text-align: right;
				}
			}
			.total-header {
				width: 10%;
				h3 {
					text-align: right;
				}
			}
		}
		.team-table{
			color: #646464;
			background-color: white;
			width: 100%;
			.team-name {
				padding-left: 3%;
				h3 {
					color:#F8A01A;
					font-size: 1.2em;
				}
			}
			.team-price {
				font-weight: 600;
				margin-top: 20px;
				padding-top: 10px;
			}
			.team-days {
				position: relative;
				margin-top: 30px;
				input {
					width: 60%;
					border-radius: 35% 35% 35% 35%;
					border: 1px solid #009AE7;
					text-align: center;
				}
				p {
					color: #009AE7;
					padding-left: 15%;
				}
				.minus {
					position: absolute;
					bottom: 21px;
					left: 10%;
					float: left;
					font-size: 2em;
					a:hover {
						text-decoration: none;
					}
				}
				.plus {
					position: absolute;
					bottom: 25px;
					right: 45%;
					float: right;
					font-size: 1.8em;
					a:hover {
						text-decoration: none;
					}
				}
			}
			.team-day {
				margin-top: 30px;
			}
			input[type='number'] {
			    -moz-appearance:textfield;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			    -webkit-appearance: none;
			}
			.team-total {
				p {
					color:#F8A01A;
				}
			}
			.team-number {
				margin-top: 30px;
				input, output {
					float: left;
				}
				output {
					width: 10%;
					height: 20px;
					padding: 0;
					margin-bottom: 10px;
					text-align: center;
				}
				input {
					width: 90%;
				}
			}
			.team-total {
				margin-top: 30px;
				font-weight: 600;
			}
		}
	}
	.total {
		color: #646464;
		background-color: white;
		width: 100%;
		border-top: 1px solid #E6E6E6;
		.total-sum {
			margin-left: 70%;
			width: 30%;
			p {
				margin-top: 15px;
				text-align: center;
				font-size: 1.6em;
				font-weight: 600;
			}
		}
	}
	.submit-btn {
		padding-left: 4%;
		padding-right: 3%;
		margin-top: 30px;
	    margin-bottom: 50px;
		.order-select {
    	  margin-top: 0px;
    	  margin-bottom: 30px;
    	  width: 20%;
  		  margin-left: 80%;
 		  margin-right: 0%;
 		  background-color: #F8A01A;
 		  background-image: url("../img/order/nextStep.png");
 		  background-repeat: no-repeat;
 		  background-position: 93% 5px;
	      padding-top: 15px;
	      padding-bottom: 10px;
	      border: 0px;
	      font-size: 1.2em;
	      font-weight: 400;
	      text-align: center;
	      color: white; 		
	    }
	}
	.horizontal-line1 {
	        border: 1px solid #E6E6E6;
	        width: 97%;
	        margin: auto;
	}
}