#project_panel {
    #order_panel {
      background-color: $lightgray;
      padding: 50px 0px 70px;

      .panel {
        border-radius: 0px;
        margin-bottom: 0px;

        .panel-heading {
          background-color: $darkblue;
          color: white;
          border-radius: 0px;
          padding: 15px;

          .panel-title {
            font-size: 22px;
          }
        }

        .panel-body {
          padding: 0px;

          .option {
            padding: 10px 20px 25px;
            border-bottom: 1px solid #dddddd;
            &:last-child {
              border: none;
              background-color: $darkblue;
              color: white;
              padding: 15px;
              h3 {
                font-weight: bold;
                margin: 0px;
              }
            }

            .option_title {
              .circle {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $orange;
                float: left;
                margin-right: 10px;

                p {
                  color: white;
                  text-align: center;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 24px;

                }
              }

              h4 {
                color: $orange;
                font-size: 16px;
                text-transform: uppercase;
                vertical-align: inherit;
                line-height: 24px;
              }
            }

            .price {
              color: $darkblue;
              margin-top: 25px;
            }

            .table {
              text-align: right;

              & tr td {
                border: none;
                padding: 0px;
              }
              & tr td:first-child {
                text-align: left;
              }
            }
          }

          form {
            padding: 20px 0px 50px;
            .form-group {
              margin-bottom: 25px;

              label {
                font-weight: normal;
              }
              input, select {
                border-radius: 0px;
                background-color: #f8f8f8;
                height: 44px;
              }
              textarea {
                border-radius: 0px;
                background-color: #f8f8f8;
              }
            }
            .checkbox label {
              padding-left: 30px;
            }
            .checkbox input[type="checkbox"] {
              height: 20px;
              width: 20px;
              margin: 0px 0px 0px -30px;
              border-radius: 50%;
              &:focus {
                outline: none;
              }
            }
            .btn-green {
              background-color: #49b009;
              border: none;
              color: white;
              font-size: 18px;
              padding: 10px 15px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
