.no-padding {
  padding: 0px;
}

#order_now {
  height: 150px;
  padding-left: 7%;
  .tabs {
    @include tabs;
}
.nav-tabs {
  li:not(.active) {
    .tab_number {
      p {
        color: #e6e6e6 !important; 
      }
    }
  }
}


  /*BUBBLE TABS*/
  #bubble_tabs {
    .nav-tabs {
      height: 150px;
      li {
        width: 150px;
        height: 100%;
        border-right: 1px solid #eeeeee;
        margin: 0;
        &:first-child, &:first-child.active {
          border-left: 1px solid #eeeeee;
        }
        &.active {
          width: 540px;
          border: none;
          border-right: 1px solid #eeeeee;
          -webkit-box-shadow: 4px 0px 4px 0px rgba(180, 180, 180, 0.2), -4px 0px 4px 0px rgba(180, 180, 180, 0.2);
          .tab .description {
            display: block;
          }
          &:after {
            content: '';
            position: absolute;
            border-style: solid;
            display: block;
            z-index: 1;
            border-width: 16px 14px 0;
            border-color: white transparent;
            width: 0;
            bottom: -10px;
            margin-left: 250px;
          }
        }
        .tab {
          position: relative;
          .tab_number {
            padding-top: 5px;
            width: 140px;
            height: 100%;
            float: left;
            p {
              color: $orange;
              font-size: 120px;
              line-height: 120px;
              font-weight: bold;
              text-align: center;
              margin: 10px 0px 0px;
            }
            .link_spanner {
              position:absolute; 
              width:100%;
              height:100%;
              top:0;
              left: 0;
              z-index: 1;
            }
          }
          .description {
            display: none;
            width: 390px;
            height: 140px;
            float: right;
            padding: 5px 0px 0px 0px;
            h3 {
              color: $orange;
              font-weight: bold;
              font-size: 1.5em;
              margin-top: 15px;
              margin-left: -10px;
            }
            p{
              font-size: 14px;
              margin-right: 10%;
              margin-left: -5px;
            }
          }
        }
      }
    }
  }

}


.container-fluid.dedicated {

  background-color: #E6E6E6; 
  .container {
    padding-left: 4.5%;
  }
} 

div.wrapper.dedicated-packages {
  margin-left: -1%;
}


.packages-offer .wrapper.dedicated-packages {
   
    margin-top: 50px;
    margin-bottom: 50px;
}

#packages2 {
  
  .packages-offer .wrapper.dedicated-packages {
   
    margin-top: 0;
    margin-bottom: 50px;
  }

}
/*
body .ng-scope div.ng-scope .ng-scope #inner-blocks {
  background-color: #E6E6E6;
  padding-bottom: 20px !important;
}
*/

/* step2   */

 /*tab_2*/

  #select_panel {
    .template_web {
      @include template_web;
    }
    #table {
      @include table;
    }
  }

