#order_now {
  .tabs {
    @include tabs;
  }


  /*BUBBLE TABS*/
  #bubble_tabs {
    .nav-tabs {
      height: 140px;
      li {
        width: 140px;
        height: 100%;
        border-right: 1px solid #eeeeee;
        margin: 0;
        &:first-child, &:first-child.active {
          border-left: 1px solid #eeeeee;
        }
        &.active {
          width: 560px;
          border: none;
          border-right: 1px solid #eeeeee;
          -webkit-box-shadow: 4px 0px 4px 0px rgba(180, 180, 180, 0.2), -4px 0px 4px 0px rgba(180, 180, 180, 0.2);
          .tab .description {
            display: block;
          }
          &:after {
            content: '';
            position: absolute;
            border-style: solid;
            display: block;
            z-index: 1;
            border-width: 16px 14px 0;
            border-color: white transparent;
            width: 0;
            bottom: -10px;
            margin-left: 250px;
          }
        }
        .tab {
          position: relative;
          .tab_number {
            width: 140px;
            height: 100%;
            float: left;
            p {
              color: $orange;
              font-size: 120px;
              line-height: 120px;
              font-weight: bold;
              text-align: center;
              margin: 10px 0px 0px;
            }
            .link_spanner {
              position:absolute; 
              width:100%;
              height:100%;
              top:0;
              left: 0;
              z-index: 1;
            }
          }
          .description {
            display: none;
            width: 410px;
            height: 140px;
            float: right;
            padding: 5px 20px 0px 0px;
            h3 {
              color: $orange;
              font-weight: bold;
            }
            p{
              font-size: 13px;
            }
          }
        }
      }
    }
  }

}
 