#project_panel {
  padding-left: 0;
  background-color: $lightgray;
    #order_panel {
      background-color: $lightgray;
      padding: 50px 0px 70px;
      .container {
          width: 52.5%;
          padding-left: 0;
          .col-xs-4 {
            padding-right: 0;
          }
      }
      .panel {
        border-radius: 0px;
        margin-bottom: 0px;

        .panel-heading {
          background-color: $darkblue;
          color: white;
          border-radius: 0px;
          padding: 15px;

          .panel-title {
            font-size: 1.8em;
            margin-right: 2px;
            margin-bottom: 3px;
          }
        }

        .panel-body {
          padding: 0px;

          .option {
            padding: 10px 20px 25px;
            border-bottom: 1px solid #dddddd;
            
            &:last-child {
              border: none;
              background-color: $darkblue;
              color: white;
              padding: 15px;
              h3 {
                font-weight: bold;
                margin: 0px;
              }
            }

            .option_title {
              .circle {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $orange;
                float: left;
                margin-right: 10px;

                p {
                  color: white;
                  text-align: center;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 24px;

                }
              }

              h4 {
                color: $orange;
                font-size: 16px;
                text-transform: uppercase;
                vertical-align: inherit;
                line-height: 24px;
              }
            }

            .price {
              color: $darkblue;
              margin-top: 25px;
            }

            .table {
              text-align: right;

              & tr td {
                border: none;
                padding: 0px;
              }
              & tr td:first-child {
                text-align: left;
              }
            }
          }

          form {
            padding: 20px 0px 50px;
            .form-group {
              margin-bottom: 25px;

              label {
                font-weight: 400;
                font-size: 1.2em;
              }
              input, select {
                margin-right: 6%;
                border-radius: 0px;
                background-color: #f8f8f8;
                height: 44px;
              }
              input.form-control, select {
                width: 92%;
                padding-top: 3px;
                padding-right: 5px;
              }
              textarea {
                border-radius: 0px;
                background-color: #f8f8f8;
                height: 135px;
              }
            }
            .checkbox label {
              padding-left: 30px;
            }
            .checkbox input[type="checkbox"] {
              height: 20px;
              width: 20px;
              margin: 0px 0px 0px -30px;
              border-radius: 50%;
              &:focus {
                outline: none;
              }
            }
            .btn-green {
              background-color: #49b009;
              border: none;
              color: white;
              font-size: 18px;
              padding: 12px 15px;
              margin-top: 27px;
              margin-left: 10%;
              width: 78%;
              font-weight: 600;
            }
            .form-group+div.checkbox {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
