$orange: #f8a01a;
$lightblue: #35B7F3;
$blue: #009ae2;
$darkblue: #00608c;
$headerblue: #012638;
$lightgray: #e6e6e6;

.footer {
  padding-top: 37px;
  background-color: $headerblue;
  color: #314E5C;
  .container {
    padding-left: 4.2%;
    padding-right: 4%;
    .blog-info {
      margin-left: 1%;
      padding-right: 0;
      width: 31%;
      ul {
        margin-top: -4px;
      }
    }
    .contact {
      width: 30%;
    }
  }
  .bottom20 {
    margin-bottom: 9px;
  }

  h5 {
    color: white;
    display: inline;
    font-size: 17px;
    margin-left: 4px;
  }
  h5:hover {
      color: white;
      text-decoration: underline;
  }

  p {
    font-size: 14px;
    line-height: 17px;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    li {
      border-bottom: 1px solid #314E5C;
      padding: 7px 0px;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  hr {
    border-color: #314E5C;
    margin-bottom: 5px;
    width: 97%;
    margin-left: -0.1%;
  }

  .footer_clients {
    margin-top: 25px;
    margin-bottom: 45px;
    p {
      display: inline;
    }
    img {
      width: 115px;
      float: right;
      margin-right: 32px;
    }
  }

  .rights {
    font-size: 12px;
    margin-bottom: 0px;
    i {
      float: right;
      margin-left: 5px;
      &:hover {
        color:white;
      }
    }
  }
  .rights i:first-child {
    margin-right: 32px;
  }
  .more_about_us:hover, .contact:hover, .blog-info:hover, .footer_clients:hover {
    color: white;
  }
  ul li a{
    text-decoration: none;
    color: #314E5C;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}

#clientpic img:hover {

  opacity: 0.4

};