$orange: #f8a01a;
$lightblue: #35B7F3;
$blue: #009ae2;
$darkblue: #00608c;
$headerblue: #012638;
$lightgray: #e6e6e6;

.footer {
  padding-top: 50px;
  background-color: $headerblue;
  color: #314E5C;

  .bottom20 {
    margin-bottom: 20px;
  }

  h5 {
    color: white;
    display: inline;
    font-size: 17px;
    margin-left: 4px;
  }

  p {
    font-size: 13px;
    line-height: 17px;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    li {
      border-bottom: 1px solid #314E5C;
      padding: 7px 0px;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  hr {
    border-color: #314E5C;
    margin-bottom: 5px;
  }

  .footer_clients {
    margin: 25px 0px;
    p {
      display: inline;
    }
    img {
      width: 120px;
      float: right;
      margin-left: 30px;
    }
  }

  .rights {
    font-size: 12px;
    margin-bottom: 0px;
    i {
      float: right;
      margin-left: 3px;
    }
  }

  .more_about_us:hover, .contact :hover, ul li:hover {
    color: white;
  }
}

#clientpic img:hover {

  opacity: 0.4

};