
$blue-bg: #002637;
$grey-bg: #e6e6e6;
$orange: #f8a01a;
$blue: #009ae2;
$link-hover: #f8a01a;
$border-color: #dadada;
$text-color: #787878;
//this is background color for navbar
 .nav-color {
  background-color:#002637;
}
//text color of navbar with sass nesting
.navbar-default    {
	.navbar-text {
		color: #ffffff;
	}
	.order {
		color: #019AE6;
	}
}
//order now text

.navbar {
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
}

header {
  background: #002637;
  min-width: 980px;
}

div.links > a:hover{
	color: blue;
}

.dropdown-nav{
	background: #009ae2;
	min-width: 980px;
	display: none;
	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		line-height: 30px;
		li{
			float: left;
			width: 33.33%;
			text-align: center;
			a {
				display: block;
				color: $blue-bg;
				&:hover {
					color: #fff;
					background: #00608d;
				}
			}
		}
	}
}

.wrapper{
  width: 980px;
  margin: 0 auto;
  @include clearfix;
}

