
//this is background color for navbar
 .nav-color {
  background-color:#002637;
}
//text color of navbar with sass nesting
.navbar-default    {
	.navbar-text {
		color: #ffffff;
	}
	.order {
		color: #019AE6;
	}
}
//order now text

.navbar {
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
}