
$blue-bg: #002637;
$grey-bg: #e6e6e6;
$orange: #f8a01a;
$blue: #009ae2;
$link-hover: #f8a01a;
$border-color: #dadada;
$text-color: #787878;
$order-now-color: #009AE7;

//this is background color for navbar
.nav-color {
  background-color:#002637;
}
.header-nav, .header-nav div  {
	height: 73px;
}
.navbar {
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
}

header {
  background: #002637;
  min-width: 980px;
}

div.links > a:hover{
	color: blue;
}



.dropdown-nav, .whyus, .packageprices {
	background: #009ae2;
	min-width: 980px;
	display: none;
	div.wrapper {
		margin-left: 23.5%;
	}
	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		line-height: 30px;
		li {
			font-weight: bold;
			float: left;
			width: 33.33%;
			text-align: center;
			a {
				display: block;
				color: $blue-bg;
				font-size: 1.1em;
				&:hover {
					color: #fff;
					background: #00608d;
					text-decoration: none;
				}
			}
			span {
				font-weight: 400;
				font-size: 0.8em;
				line-height: 0.8em;
			}
		}
	}
}

.whyus {
	ul {
	  li {
	 	font-weight: bold;
		float: left;
		width: 20.00%;
		text-align: center;	
	  }
	  li:first-child {
	  	width: 16%;
	  	a {
	  		padding-right: 12%;
	  	}
	  	span {
	  		margin-right: 4%;
	  	}
	  }
	  li:nth-child(2) {
	  	width: 21.5%;
	  	a {
	  		padding-left: 6%;
	  		padding-right: 10%;
	  	}
	  }
	  li:nth-child(3) {
	  	width: 15%;
	  	margin-right: 16%;
	  }
	  li:nth-child(4) {
	  	width: 11%;
	  	a {
	  		padding-right: 5%;
	  	}
	  	span {
	  		margin-right: 7%;
	  	}
	  }
	  li:nth-child(5) {
	  	width: 8%;
	  }
	  li:last-child {
	  	width: 12.5%;
	  	/*a {
	  		padding-right: 12%;
	  	}
	  	span {
	  		margin-right: 4%;
	  	}*/
	  }
	}	
}





.wrapper{
  width: 980px;
  margin: 0 auto;
  @include clearfix;
}


div ul.nav.navbar-nav {
	min-height: 73px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2.5%;
	width: 100%;
	li {
		&.clicked {
			background-color: #009AE2;
		}
		float: left;
		width: 18%;
		margin: 0px;
		min-height: 73px;
		text-align: center;
		a {
			padding: 0px;
		}
		.navbar-link {
			width: 100%;
			height: 73px;
			color: white;
			font-size: 16px;
			padding-top: 27px;
			&:hover {
				color: white;
				background-color: $order-now-color;
				text-decoration: underline;
			}
		}
	}
	& .navbar-text {
		color: white;
	}
	.navbar-official {
		width: 27.5%;
		img {
			position: relative;
			bottom: 2px;
			left: 2px;
			margin-right: 6px;
		}
	}
	.home-link {
		width: 14%;
	}
	.prices-link {
		width: 16.5%;
	}
	.us-link {
		width: 15%;
	}
	#order-now {
		width: 19.5%;

		.navbar-link {
			text-transform: uppercase;
			color: $order-now-color;		
			&:hover {
				color: white;

			}
		}
		&.clicked {
			a{
				background-color: $blue !important;
				/*color: #000;*/
				color: white !important;
			}
		}
	}
}

#logo {
	
	margin-top: 12%;
	margin-left: 32%;
}


#links  {
	margin-left: 22%;
	min-height: 73px;
	&> ul >li.navbar-text {
		font-size: 18px !important;
		text-decoration: none;
	}
	&> ul > a > li:hover {
        text-decoration: none;
	}
	ul.navbar-nav {
		li.navbar-text {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
			a.navbar-link:hover {
				text-decoration: none;
			}
		}
	}
}

.dropdown-nav ul > li {
	font-weight: bold;
}