#package-prices-wrap {
	.page-header {
		margin-bottom: 0px;
		margin-top: 0px;
		padding-bottom: 0px;
		padding-left: 5.5%;
		.present {
			padding-right: 15%;
			margin-top: 58px;
			padding-bottom: 15px;
			h1 {
				font-size: 3.6em;
				margin-bottom: 3px;
			}
			p {
				padding-left: 4px;
			}
		}
	}
	.header-official {
		width: 13.3%;
		height: 179px;
		padding: 55px 10px 15px 10px;
		margin-left: 2%;
		text-align: center; 
		color: #A0A0A0;
		border-left: 2px solid #c6c6c6;
		border-right: 2px solid #c6c6c6;
		img {
			margin-left: 2px;
			margin-top: 4px;
		}
		p {
			position: relative;
			top: -4px;
		}
	}
	/* part that styles the table inside
	   main content is in _service-step-two.scss 
	*/    
	.order-service {
		  margin-top: 0px;
    	  margin-bottom: 30px;
    	  width: 40%;
  		  margin-left: 30%;
 		  margin-right: 35%;
 		  background-color: #F8A01A;
	      padding-top: 15px;
	      padding-bottom: 10px;
	      border: 0px;
	      font-size: 1.2em;
	      font-weight: 400;
	      text-align: center;
	      color: white; 	
	}
}