.wrapper {
  width: 980px;
  margin: 0 auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table;
}

::selection {
  background: #70bef4;
  color: #fff; }


  .packages-offer {
  background: #e6e6e6;
  min-width: 980px; }
  .packages-offer .wrapper {
    width: 1000px;
    margin-top: -130px;
    position: relative;
    z-index: 9999; }
  .packages-offer .packages::after {
    clear: both;
    content: "";
    display: table; }
  .packages-offer .packages .offer-block {
    width: 25%;
    float: left;
    padding: 0 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }
    .packages-offer .packages .offer-block:hover {
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px); }
    .packages-offer .packages .offer-block .offer-title {
      height: 130px;
      background: #00608d;
      overflow: hidden;
      position: relative; }
      .packages-offer .packages .offer-block .offer-title img {
        -webkit-animation: wobble 1s;
        -moz-animation: wobble 1s;
        animation: wobble 1s;
        position: absolute;
        top: 0;
        left: 10px;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 10s;
        animation-duration: 10s; }
      .packages-offer .packages .offer-block .offer-title h2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
        font-size: 32px;
        line-height: 32px;
        margin: 0px;
        font-weight: normal;
        text-transform: uppercase;
        font-family: KlavikaMediumItalic, Arial, Helvetica, sans-serif; }
    .packages-offer .packages .offer-block .offer-desc {
      background: #fff;
      text-align: center;
      padding: 20px 0; }
      .packages-offer .packages .offer-block .offer-desc h5 {
        color: #646464;
        font-size: 18px;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
        font-weight: normal;
        text-transform: uppercase;
        font-family: KlavikaMedium, Arial, Helvetica, sans-serif; }
      .packages-offer .packages .offer-block .offer-desc p {
        font-size: 14px;
        margin: 0px;
        padding: 0 20px;
        color: #787878; }
      .packages-offer .packages .offer-block .offer-desc hr {
        margin: 15px 20px; }
      .packages-offer .packages .offer-block .offer-desc .price {
        color: #f8a01a;
        font-size: 50px;
        line-height: 50px;
        font-family: KlavikaMedium, Arial, Helvetica, sans-serif; }
      .packages-offer .packages .offer-block .offer-desc .start-from {
        color: #787878; }
    .packages-offer .packages .offer-block .offer-hover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 10px;
      opacity: 0;
      display: block;
      background: rgba(248, 160, 26, 0.9);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      text-align: center; }
      .packages-offer .packages .offer-block .offer-hover img {
        position: absolute;
        right: 50%;
        bottom: 50%;
        margin-right: -55px;
        margin-bottom: -55px;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
      .packages-offer .packages .offer-block .offer-hover:hover {
        opacity: 1; }
        .packages-offer .packages .offer-block .offer-hover:hover img {
          -webkit-animation: rotateIn 1s;
          -moz-animation: rotateIn 1s;
          animation: rotateIn 1s; }
  .packages-offer .hourly-link {
    text-align: center;
    padding: 30px 0;
    background: url(../img/hourly-img.png);
    background-position: bottom center;
    background-repeat: no-repeat; }
    .packages-offer .hourly-link a {
      color: #002637;
      font-size: 28px;
      font-family: KlavikaMediumItalic, Arial, Helvetica, sans-serif; }
      .packages-offer .hourly-link a:hover {
        text-decoration: underline; }




  .packages-offer .packages .offer-block {
  width: 25%;
  float: left;
  padding: 0 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
