#service-two-wrap {
	background-color: #E6E6E6;
	.service-price-list {
		width: 99.8%;
		padding-left: 8.5%;
		padding-right: 8%;
		margin-top: 54px;
		.list-header {
			background-color: white;
			ul {
				list-style-type: none;
				padding: 0;
			}
			li {
				float:left;
				width: 34%;
				text-align: center;
				font-size: 1.8em;
				color: #A0A0A0;
				padding-top: 10px;
				padding-bottom: 8px;
				border-bottom: 2px solid #c6c6c6;
			}
			li:hover {
				background-color: #009AE2;
				color: white;
				border-bottom: none;
				height: 55px;
			}
			.mid-li {
				width: 31.7%;
				padding-right: 3px;
			}
			ul li:first-child {
				padding-right: 9px;
			}
			ul li:last-child {
				width: 34.3%;
				padding-left: 25px;
			}
			.pointer {
				position: absolute;
				padding-left: 7.7%;			/****************  ovdje ti se nalazi strelica koja treba da se */
				margin-top: -4px;						  /*   pojavi kada klikneš na link menija 	*****************/
				visibility: hidden;			
			}
		}
		.list-table {
			background-color: white;
			margin-bottom: 20px;
			h3 {
				font-size: 1.2em;
				color: #009AE2;
				font-weight: 600;
				margin-left: 3%;
			}
			li {
				margin-top: 20px;
				color: #646464;
				padding-left: 2%;
				padding-top: 2px;
				height: 28px;
				font-size: 1.2em;
			}
			ul {
				position: relative;
				background-color: white;
				width: 200px;
				z-index: 2;
				list-style-type: none;
			}
			.horizontal-line {
					border: 1px solid #E6E6E6;
					position: relative;
					top: -224px;
					left: 0px;
					width: 100%;
					margin-top: 46px;
					z-index: 1;
			}
			.check-price {
				height: 33px;
				width: 50px;
				margin-top: 15px;
				text-align: center;
				color: #646464;
				background-color: white;
				position: relative;
				top: -415px;
				left: 90%;
				z-index: 2;
			}
			.web-sites {
				float: left;
				width: 45%;
				padding-top: 20px;
				padding-left: 3%;
				height: 320px;
				.horizontal-line{
					top: -250px;
				}
				.check-price {
					top: -465px;
				}
			}	
			.template {
				float: right;
				width: 47%;
				padding-top: 20px;
				padding-right: 2%;
				height: 280px;
				ul {
					width: 250px;
				}
				.horizontal-line{
					top: -202px;
				}
				.check-price {
					top: -370px;
				}
			}
			.component {
				clear: left;
				float: left;
				width: 45%;
				padding-left: 3%;
				height: 930px;
				.horizontal-line{
					top: -875px;
				}

				.check-price {
					top: -1716px;
				}
			}
			.device-development {
				clear: right;
				float: right;
				width: 47%;
				padding-right: 2%;
				height: 280px;
				margin-top: -47px;
				.horizontal-line{
					top: -202px;
				}

				.check-price {
					top: -370px;
				}
			}
			.front-end {
				clear: right;
				float: right;
				width: 47%;
				padding-right: 2%;
				height: 280px;
				margin-top: -27px;
				.horizontal-line{
					top: -202px;
				}

				.check-price {
					top: -370px;
				}
			}
			.open-source {
				clear: right;
				float: right;
				width: 47%;
				padding-right: 2%;
				height: 240px;
				margin-top: -27px;
				.horizontal-line{
					top: -156px;
				}

				.check-price {
					top: -278px;
				}
			}
			.comercial {
				clear: right;
				float: right;
				width: 47%;
				padding-right: 2%;
				height: 240px;
				margin-top: -37px;
				.horizontal-line{
					top: -156px;
				}
				.check-price {
					top: -278px;
				}
			}
			.hosting {
				clear: left;
				float: left;
				width: 45%;
				padding-left: 3%;
				height: 240px;
				.horizontal-line{
					top: -202px;
				}
				.check-price {
					top: -370px;
				}
			}
			.maintenence {
				clear: left;
				float: left;
				width: 45%;
				padding-left: 3%;
				height: 223px;
				margin-top: 15px;
				.horizontal-line{
					top: -155px;
				}
				.check-price {
					top: -277px;
				}
			}
			.web-sites, .hosting, .component, .maintenence {
				padding-left: 0;
				h3 {
					padding-left: 1.8%;
					font-size: 1.4em;
				}
				ul {
					padding-left: 7%;
					width: 60%;
					input[type='checkbox'] {
						margin-right: 12.5%;
					}
				}
			}
			.template, .device-development, .front-end, .open-source, .comercial {
				h3 {
					padding-left: 0;
					margin-left: 0;
					font-size: 1.4em;
				}
				ul {
					padding-left: 2.5%;
					width: 60%;
					input[type='checkbox'] {
						margin-right: 12.5%;
					}
				}
			}
		}
		.order-select {
    	  margin-top: 0px;
    	  margin-bottom: 30px;
    	  width: 20%;
  		  margin-left: 80%;
 		  margin-right: 0%;
 		  background-color: #F8A01A;
 		  background-image: url("../img/order/nextStep.png");
 		  background-repeat: no-repeat;
 		  background-position: 93% 5px;
	      padding-top: 15px;
	      padding-bottom: 10px;
	      border: 0px;
	      font-size: 1.2em;
	      font-weight: 400;
	      text-align: center;
	      color: white; 		
	    }
	}
	.bnt-submit {
		.order-service {
			width: 49%;
			margin-left: 25.5%;
			margin-right: 31%;
			font-size: 1.4em;
			margin-bottom: 57px;
		}
	}
}
