#slider{
  height: 25%;
  width: 102%;
  background: #e6e6e6;
  position: relative;
  left: -2%;
  z-index: 5;
  .slider1 {
	.slider-heading {
		margin-top: 4px;
		padding-left: 5px;
		font-size: 3em;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 47px;
	}
	.slider-p {
		margin-top: 5px;
		padding-left: 5px;
		font-size: 1.1em;
	}
  }
  .slider2 {
	.slider-heading {
		padding-top: 7px;
		padding-bottom: 25px;
	}
  }
  .slider3 {
	.slider-heading {
		margin-top: -20px;
		padding-left: 10px;
	}
	.slider-p {
		margin-top: -3px;
	}
  }
  .slider4 {
	.slider-heading {
		padding-top: 7px;
		color: $orange;
	}
	.slider-p {
		margin-top: 10px;
		padding-left: 5px;
		font-size: 1.1em;
	}
  }
  .slider5 {
	.slider-heading {
		padding-left: 7px;
		color: $order-now-color;
		font-weight: 600;
	}
	.slider-p {
		margin-top: 10px;
		padding-left: 7px;
		font-size: 1.1em;
	}
  }
}
.slider-heading{
	color: #fff;
	font-size: 53px;
	font-weight: 600;
	line-height: 56px;
	margin: 0px;
	padding-top: 5px;
	.orange{
		color: #F8A01A;
	}
	.blue{
		color: #009AE2;
	}
}
.slider-p{
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	margin: 0px;
	&.dark {
		color: #646464;
	}
}

