.why-us{
  background: $blue-bg;
  min-width: 980px;
  padding: 40px 0px 20px 0px;
  color: #fff;
  h3{
    text-align: center;
    color: $orange;
    font-size: 35px;
    line-height: 35px;
    font-weight: normal;
    margin-bottom: 60px;
    padding-top: 7px;
    margin-right: 2.5%;
  }
  .us-left {
    width: 50%;
    padding: 0 25px;
    float: left;
    @include box-sizing(border-box); 
    & > div{
      @include clearfix;
      margin-bottom: 30px;
      &:hover{
        img{
        @include animation(rubberBand 3s);
      }
      }
    }
    h4{
      font-size: 20px;
      color: #fff;
      line-height: 30px;
      margin: 0px;
      margin-bottom: 3px;
      font-weight: normal;
    }
    .why-img{
      float: left;
      height: 130px;
      width: 24.5%;
      img{
        padding-top: 8px;
      }
    }
    .why-desc{
      float: left;
      width: 75%;
    }
    p{
      line-height: 18px;
      width: 95%;
    }
    .first-block {
      .why-img {
        padding-left: 2px;
        img {
          padding-top: 5px;
        }
      }
      .why-desc {
        p {
          /* here i put style after editing html file */
        }
      }
    }
    .second-block {
      .why-img {
        padding-left: 2px;
        img {
          padding-top: 10px;
        }
      }
      .why-desc {
        padding-top: 2px;
        p {
          /* here i put style after editing html file */
        }
      }
    }
    .third-block {
      .why-img {
        img {
          padding-top: 15px;
        }
      }
      .why-desc {
        padding-top: 2px;
        p {
          /* here i put style after editing html file */
        }
      }
    }
  }
  .us-right{
    width: 50%;
    padding: 0 30px;
    float: right;
    @include box-sizing(border-box); 
    & > div{
      @include clearfix;
      margin-bottom: 30px;
      &:hover{
        img{
        @include animation(rubberBand 3s);
      }
      }
    }
    h4{
      font-size: 20px;
      color: #fff;
      line-height: 30px;
      margin: 0px;
      margin-bottom: 5px;
      font-weight: normal;
    }
    .why-img{
      float: left;
      height: 130px;
      width: 22%;
      padding-left: 10px;
      img{
        padding-top: 0px;
      }
    }
    .why-desc{
      float: left;
      width: 75%;
    }
    p{
      line-height: 18px;
    }
    .seventh-block {
      .why-img {
        padding-top: 22px;
        padding-left: 2px;
        img {
          padding-top: 5px;
        }
      }
      .why-desc {
        padding-top: 2px;
        p {
          /* here i put style after editing html file */
        }
      }
    }
    .eight-block {
      .why-img {
        padding-top: 5px;
        padding-left: 5px;
        img {
          padding-top: 5px;
        }
      }
      .why-desc {
        h4 {
          margin-bottom: 3px;
        }
        p {
          /* here i put style after editing html file */
        }
      }
    }
  }
}