#whyus-tehnology-wrap {
	.page-header {
		margin-top: 30px;
		padding-top: 0px;
		padding-left: 6%;
	}
	.tehnology-blocks {
		background-color: #E6E6E6;
		.container {
			margin-top: 20px;
		    margin-bottom: 60px;
			padding-left: 4%;
			padding-top: 30px;
			.row {
				margin-left: 0px;
			}
		}
		.tehno-block {
			width: 30%;
			min-width: 280px;
			padding: 1% 2% 1% 2%;
			background-color: white;
			margin: .5%;
			color: #646464;
		    .tehno-head {
		    	padding: 0px;
				h3 {
					font-weight: 600;
					margin: 0px;
					padding: 0px;
					margin-left: 10%;
					text-align: left;
				}
			}
			.tehno-text {
				ul {
					margin-top: 50px;
					padding-left: 12%;
					li {
						font-style: oblique;
						font-size: .8em;
						line-height: 1.6em;
					}
				}
			}
			.float-left {
				padding-left: 6%;
				float: left;
				position: relative;
				width: 50%;
			}
		}
		.app-fix {
			margin-top: -30px;
		}
		.data-fix {
			margin-top: -62px;
		}	
		.opp-fix {
			margin-top: -55px;
		}		
	}
	.testimonial-section {
		.container {
		padding-left: 4%;
			h3 {
				padding-bottom: 30px;
				color: #009AE2;
				text-align: center;
				font-weight: 600;
			}
			.client-block {		
				width: 33.33%;
				color: #646464;
			}
			.client-name p {		
				font-weight: 600;
				font-size: 1.2em;
				color: black;
			}
			.img-circle {					
				border: 1px solid #C8C8C8;
			}
			.testim, .client-name {
				p {					/* positioning and editing client's testimonial text */
				width: 70%;
				position: relative;
				left: 100px;
				bottom: 75px;
				}
			}
	    }
	}
}