//this is the central file for imports
@import "bootstrap";

//my classes
@import "fonts";
@import "navbar";
@import "footer";
@import "slider";
@import "packages";
@import "why-us";
@import "aboutus";
@import "clients";
@import "order";
@import "order-main";
@import "mixins";
@import "common";
@import "dedicated-price";
@import "order-main";
@import "dedicated-step-three";
@import "dedicated-step-four";

