 @mixin tabs {
  background-color: #0099e1;

  ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
    
    li {
      padding: 2px 0px 5px;
      a {
        color: $headerblue;
        &:hover {
          text-decoration: none;
        }
      }
    }
    
    li.active {
      background-color: $darkblue;
      a {
        color: white;
      }
    } 
  }  
}


@mixin template_web {
  height: 320px;
  background-color: $lightgray;
  padding-top: 64px;
  border-bottom: 1px solid #d6d6d6;

  .col_1 {
    color: $darkblue;
    font-style: italic;
    
    p {
      font-size: 18px;
    }
  }

  .padding-left-8 {
    padding-left: 8px;
  }

  .pack {
    height: 255px;
    -webkit-box-shadow: -2px 0px 6px 0px rgba(50, 50, 50, 0.23);
  }
  .overflow {
    overflow: hidden;
    height: 100%;
  }

  .back {
    font-size: 260px;
    line-height: 205px;
    font-weight: bolder;
    float: right;
    margin-right: -30px;
  }

  .absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .package_description {
      padding: 25px 15px 10px;

      h4 {
        font-style: italic;
        font-weight: bold;
      }
      p {
        font-size: 13px;
      }
    }
  }  

  .recommended {
    width: 110px;
    position: absolute;
    margin: auto;
    top: -7px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 3px;
    p {
      font-size: 12px;
    }
  }

  .bgc_white {
    background-color: white;
  }
  .bgc_blue {
    background-color: $blue;
    color: white;
  }
  .bgc_darkblue {
    background-color: $darkblue;
    color: white;
  }
  .bgc_orange {
    background-color: $orange;
    color: white;
  }

  .price {
    background-color: white;
    text-align: center;
    font-size: 43px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e6e6e6;

    p {
      margin: 0px;
    }
  }

  .col_lightblue {
    color: #35b7f3;
  }
}

/* mixin for table */

@mixin table {
  .table {
    tr {
      td {
        text-align: center;
        padding: 12px 0px;
        font-size: 16px;
        vertical-align: middle;
        -webkit-box-shadow: -5px 0 7px -5px white;

        i {
          font-size: 26px;
          vertical-align: top;
        }
        &:first-child {
          text-align: left;
        }
        &:first-child {
          background-color: transparent !important;
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          width: 182px !important;
        }

        .btn {
          border-radius: 0px;
          font-size: 18px;
          padding: 10px 40px;
        }
        a:hover {
          -webkit-box-shadow: 0px 0px 5px 0px rgba(170,170,170,1);
        }
      }
      &:first-child td {
        border-top-style: none;
      }
      &:last-child td {
        padding: 30px 0px 10px;
      }
    }
  }
  .modal {
    .modal-dialog {
      margin-top: 200px;
    }
    .modal-content {
      border-radius: 0px;
    }
    .close {
      margin: 5px 8px 0px 0px;
    }
    .icon {
      width: 140px;
      height: 180px;
      float: left;
      overflow: hidden;
      i {
        font-size: 240px;
        -webkit-transform: rotate(-42deg);
        margin: -10px 0px 0px -85px;
      }
    }
    .modal-main {
      padding: 20px 0px;
      h4 {
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
      }
      p {
        font-size: 12px;
        margin-bottom: 50px;
      }
      .btn {
        border-radius: 0px;
        margin-right: 5px;
        padding: 6px 30px;
        border: none;
      }
    }
  }
}



